In [8]:
import pandas as pd
import numpy as np
import os
from fbprophet import Prophet
from fbprophet.make_holidays import make_holidays_df
import joblib
from tqdm import tqdm_notebook as tqdm
# import datetime class from datetime module
from datetime import datetime
import pandas as pd

In [9]:
# Data reading and pre processing
# data_df = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/PepsiCo POC/","Forecasting/Prophet_PepsiCo/Tran_Month_v5","Belgium_Liquid_Zero_Filled.csv"))
#Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Final Data/","Zero_Filled_Data_NBTY_1502_Month.csv"))
#Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Final Data/","Brand_Smooth_Data_NBTY.csv"))

Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","ShipmentsData_Brand.csv"))
#Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Shipments_CategoryData.csv"))
#Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Category_Shipments_Data_v1.csv"))


#Data = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Shipments_Data_Item.csv"))

# Data['month'] = Data['Time.[Planning Month]'].str.slice(0, 3)
# Data['year'] = Data['Time.[Planning Month]'].str.slice(4, 6)
# Data['tempDate'] = '01'+Data['month'].astype(str)+'20'+''+Data['year'].astype(str)
# Data['Date'] = pd.to_datetime(Data['tempDate'], format='%d%b%Y')

# # Column renaming
# Data.rename(columns = {'Version.[Version Name]':'Version','Item.[Stat Level]':'ts_id'}, inplace = True)
Data['Date'] = pd.to_datetime(Data['Date'], format='%Y-%m-%d')
Data.rename(columns = {'SKU':'ts_id'}, inplace = True)
Data

FileNotFoundError: [Errno 2] File C:/Users/kadambini.indurkar/NBTY/Data/ShipmentsData_Brand.csv does not exist: 'C:/Users/kadambini.indurkar/NBTY/Data/ShipmentsData_Brand.csv'

In [7]:
Data
#Data.columns

NameError: name 'Data' is not defined

## Holiday Calendars

# Important Prophet Links

In [330]:
# https://towardsdatascience.com/implementing-facebook-prophet-efficiently-c241305405a3
# https://facebook.github.io/prophet/docs/trend_changepoints.html
# https://github.com/Diyago/ML-DL-scripts/blob/master/time%20series%20regression/anomaly%20detection/anomaly-detection-using-facebook-s-prophet.ipynb
# https://peerj.com/preprints/3190/

In [331]:
# mode = 'multiplicative'
# uniq_comb = data_df[['ts_id']].drop_duplicates()
# time_col = 'Date'
# y_col = 'Sales'

In [332]:
#Here from tenant data
# data_df = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Final Data/","Actual_l1Data - Copy.csv"))
# time_col = 'Week'
# y_col = 'QTY'
# data_df['ts_id'] = data_df['ts_id'].astype(str)
# data_df['Week'] = pd.to_datetime(data_df['Week'], format='%d-%m-%Y')
# data_df

In [333]:
# prediction_dftemp = data_df[data_df.ts_id==100004102]
# prediction_dftemp
# data_dfb = data_df
# uniq_comb = data_df[['ts_id']].drop_duplicates()

In [334]:
## to see holiday calendars
NBTY_Holiday = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Fact.Holidays.csv"))

NBTY_Holiday = NBTY_Holiday.rename(columns={"Time.Day": "ds",
                                        "Holiday Type":"holiday"})
NBTY_Holiday['ds'] = pd.to_datetime(NBTY_Holiday.ds, format='%d-%b-%y')

NBTY_Holiday = NBTY_Holiday[["ds","holiday"]]

NBTY_Holiday.reset_index(drop=True)

           ds                 holiday
0  2015-01-01                New Year
1  2015-01-19  Martin Luther King Jr.
2  2015-05-25            Memorial Day
3  2015-07-04        Independence Day
4  2015-09-07               Labor Day
..        ...                     ...
63 2020-11-11            Veterans Day
64 2020-11-26           Thanksgiving
65 2020-11-27  Day After Thanksgiving
66 2020-12-24           Christmas Eve
67 2020-12-25               Christmas

[68 rows x 2 columns]

# Outlier Correction

In [335]:
def fit_predict_model(dataframe,NBTY_Holiday, interval_width = 0.99, changepoint_range = 0.8):
    m = Prophet(interval_width = interval_width,
                changepoint_range = changepoint_range, holidays=NBTY_Holiday)
    m = m.fit(dataframe, iter = 100)   
    forecast = m.predict(dataframe)
    forecast = forecast.merge(dataframe[['ds','y']], on=['ds'], how='left')
    forecast['fact'] = forecast['y']
    return forecast

In [336]:
data_df = Data.copy()
data_df

                           ts_id       Date  Sales
0               BB - BALANCE BAR 2017-01-01   4536
1             BF - BODY FORTRESS 2017-01-01   3972
2                  BrandNotGiven 2017-01-01    200
3              DS - DISNEY BRAND 2017-01-01    636
4                   EC - ESTER-C 2017-01-01   3132
..                           ...        ...    ...
992            SK - SUNDOWN KIDS 2021-01-01   7116
993  SN - SUNDOWN NONEQUITY KIDS 2021-01-01     12
994        SO - SUNDOWN ORGANICS 2021-01-01    204
995      SU - SOLGAR USNUTRITION 2021-01-01      0
996     SW - STAR WARS LUCASFILM 2021-01-01    924

[997 rows x 3 columns]

In [337]:
def detect_anomalies(forecast):
    forecasted = forecast[['ds','trend', 'yhat', 'yhat_lower', 'yhat_upper', 'fact']].copy()
    #forecast['fact'] = df['y']

    forecasted['anomaly'] = 0
    forecasted.loc[forecasted['fact'] > forecasted['yhat_upper'], 'anomaly'] = 1
    forecasted.loc[forecasted['fact'] < forecasted['yhat_lower'], 'anomaly'] = -1

    #anomaly importances
    forecasted['importance'] = 0
    forecasted.loc[forecasted['anomaly'] ==1, 'importance'] = \
        (forecasted['fact'] - forecasted['yhat_upper'])/forecast['fact']
    forecasted.loc[forecasted['anomaly'] ==-1, 'importance'] = \
        (forecasted['yhat_lower'] - forecasted['fact'])/forecast['fact']
    #print(forecasted)
    return forecasted

In [338]:
result_list = []

In [339]:
time_col = 'Date'
y_col = 'Sales'
uniq_comb = data_df[['ts_id']].drop_duplicates()
for idx, row in tqdm(uniq_comb.iterrows(), total = len(uniq_comb)):
    ts_id = row['ts_id']
    #ts_id = '100000133'
    try:
        subset_df = data_df[(data_df.ts_id == ts_id)]
        subset_df = subset_df[[time_col,y_col]].rename({time_col:'ds',y_col:'y'},axis=1)
        subset_df['ds'] = pd.to_datetime(subset_df['ds'])
        pred = fit_predict_model(subset_df, NBTY_Holiday)
        pred['ts_id'] = ts_id
        # Detect anomaly here itself
        pred1 = pred[(pred.ts_id == ts_id)]
        pred2 = detect_anomalies(pred1)
        pred2['ts_id'] = ts_id
        result_list.append(pred2)
        #print(pred)
        #print(result_list)
    except Exception as e:
        print ("Skipped {} because of {}".format(ts_id, e))
#result_list.append(pred)

  0%|          | 0/23 [00:00<?, ?it/s]

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 20.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 18.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 16.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations. Using 12.

In [340]:
prediction_df = pd.concat(result_list, sort=False).dropna()
prediction_df['OutlierCorrected'] = np.where(prediction_df['anomaly'] == 0, prediction_df['fact'], prediction_df['yhat'])
prediction_df['OutlierCorrected'] = np.where((prediction_df['fact'] < prediction_df['yhat']), prediction_df['fact'], prediction_df['OutlierCorrected'])
prediction_df['OutlierCorrected'] = np.where((prediction_df['OutlierCorrected'] < 0), 0 , prediction_df['OutlierCorrected'])

prediction_df.columns

Index(['ds', 'trend', 'yhat', 'yhat_lower', 'yhat_upper', 'fact', 'anomaly',
       'importance', 'ts_id', 'OutlierCorrected'],
      dtype='object')

In [341]:
prediction_df.to_csv('NBTY_Outlier_Detected&Corrected_Brand_v11_1803.csv')

In [342]:
data_df = prediction_df[["ts_id","ds","OutlierCorrected"]] # storing to data_df dataframe and feature engineering on it.
data_df.rename(columns = {'ds':'Date'}, inplace = True)

# Feature Engineering

In [343]:
# data_df = Data.copy()
# data_df

In [344]:
# def encode(data, col, max_val):
#     data[col + '_sin'] = np.sin(2 * np.pi * data[col] / max_val)
#     data[col + '_cos'] = np.cos(2 * np.pi * data[col] / max_val)
#     data[col + '_fourier'] = data[col + '_cos'] + data[col + '_sin']
#     return data

# # Convert this feature to its sin and cos components to represent cyclical behavior
# for n in ('Month', 'quarter'):
#     #print("Adding cyclic features for ", n)
#     max_val = max(merged_df_final.loc[:, n])
#     data_df = encode(data_df, n , max_val)

In [345]:
def time_features(df):
    #Date = time_col
    df['Year_Nominal'] = df['Date'].dt.year
    df['Year_Num'] = df['Year_Nominal'] - df['Year_Nominal'].min() + 1
    # df['Year_Nominal'] = df['Year_Nominal'].astype(str)
    
    df['Quarter_Num'] = df['Date'].dt.quarter
    df['Quarter_Sin'] = np.sin(2 * np.pi * (df['Quarter_Num']-1)/4)
    df['Quarter_Cos'] = np.cos(2 * np.pi * (df['Quarter_Num']-1)/4)
    # df['Quarter_Nominal'] = df['Quarter_Num'].astype(str)
    
    df['Month_Num'] = df['Date'].dt.month
    df['Month_Sin'] = np.sin(2 * np.pi * (df['Month_Num']-1)/12)
    df['Month_Cos'] = np.cos(2 * np.pi * (df['Month_Num']-1)/12)
    # df['Month_Nominal'] = df['Month_Num'].astype(str)
    
    return df

In [346]:
def create_lag_variables(df, date_column, grouped_on, shifting_var
                         , month_ascending=True, lag_vars_range = list()):
    """
    Function to create lag-variables    
    Parameters
    ----------
    df : pandas dataframe
        DESCRIPTION. Containing column names like month, banner_id, sku_id and actual_quantity.
    lag_vars_range : list, not optional
        DESCRIPTION. Pass a set of integers which will then generate the individual
        lag variables.

    Returns
    -------
    df : updated pandas dataframe with lag variables
        The passed dataframe is updated with the set of lag-variables 
        as passed to lag_vars_range

    """
    for lag in lag_vars_range:
        df['lag_'+str(lag)] = (df
                               .sort_values(by = date_column, ascending = month_ascending)
                               .groupby(grouped_on)[shifting_var].shift(lag)
                               .fillna(0))
    return df

In [347]:
def create_lead_variables(df, date_column, grouped_on, shifting_var
                         , month_ascending=True, lag_vars_range = list()):
    """
    Function to create lag-variables    
    Parameters
    ----------
    df : pandas dataframe
        DESCRIPTION. Containing column names like month, banner_id, sku_id and actual_quantity.
    lag_vars_range : list, not optional
        DESCRIPTION. Pass a set of integers which will then generate the individual
        lag variables.

    Returns
    -------
    df : updated pandas dataframe with lag variables
        The passed dataframe is updated with the set of lag-variables 
        as passed to lag_vars_range

    """
    for lag in lag_vars_range:
        df['lag_'+str(lag)] = (df
                               .sort_values(by = date_column, ascending = month_ascending)
                               .groupby(grouped_on)[shifting_var].shift(-lag)
                               .fillna(0))
    return df

In [348]:
#data_df = create_lag_variables(data_df,date_column="Date",grouped_on="ts_id",shifting_var="Sales",month_ascending=True,lag_vars_range=[1,2,3])

In [349]:
# Checking lags created properly or not..
# prediction_dftemp = data_df[data_df.ts_id=='BB - BALANCE BAR']
# prediction_dftemp

In [350]:
def create_moving_avg(df, ma_vars = list()):
    """
    

    Parameters
    ----------
    df : TYPE
        DESCRIPTION.
    ma_vars : TYPE, optional
        DESCRIPTION. The default is list().

    Returns
    -------
    None.

    """
    
    
    # for ma_var in ma_vars:
    #     for i in range(ma_var):
    #         numerator = df["lag_"+(i+3)]
    #         df["ma_"+str(ma_var)] = df["lag_"+(i+3)]
    
    
    for ma_var in ma_vars:
        if ma_var == 1:
            df["naive"] = df["lag_3"]
        if ma_var == 2:
            df["ma_2"] = (df["lag_3"]+df["lag_4"])/2
        if ma_var == 3:
            df["ma_3"] = (df["lag_3"]+df["lag_4"]+df["lag_5"])/3
        if ma_var == 4:
            df["ma_4"] = (df["lag_3"]+df["lag_4"]+df["lag_5"]+df["lag_6"])/4
        if ma_var == 5:
            df["ma_5"] = (df["lag_3"]+df["lag_4"]+df["lag_5"]+df["lag_6"]+df["lag_7"])/5
            
    return df

In [351]:
def get_season(x):
    if x >= 12 and x <= 2:
        return "Winter"
    elif x >= 3 and x <= 5:
        return "Spring"
    elif x >= 6 and x <= 8:
        return "Summer"
    else:
        return "Autumn"

def add_time_features(df, time_col):
    df["month_1"] = df[time_col].dt.month
    #df["quarter"] = df[time_col].dt.quarter    
    df["season"] = df["month_1"].apply(get_season)
    df.drop(["month_1"], axis = 1, inplace = True)
    return df

In [352]:
data_df = time_features(data_df)
#data_df = add_time_features(data_df,time_col='Date')
data_df

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,Month_Cos
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,1.00
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,0.87
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,0.50
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,0.00
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,-0.50
...,...,...,...,...,...,...,...,...,...,...,...
12,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,-0.50
13,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,-0.00
14,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,0.50
15,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,0.87
16,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,1.00

In [353]:
data_df = add_time_features(data_df,time_col="Date")
data_df

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,Month_Cos,season
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,1.00,Autumn
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,0.87,Autumn
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,0.50,Spring
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,0.00,Spring
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,-0.50,Spring
...,...,...,...,...,...,...,...,...,...,...,...,...
12,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,-0.50,Autumn
13,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,-0.00,Autumn
14,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,0.50,Autumn
15,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,0.87,Autumn
16,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,1.00,Autumn

In [354]:
data_df['Is_Autumn'] = np.where(data_df['season']=='Autumn',1,0)
data_df['Is_Winter'] = np.where(data_df['season']=='Winter',1,0)
data_df['Is_Summer'] = np.where(data_df['season']=='Summer',1,0)
data_df['Is_Spring'] = np.where(data_df['season']=='Spring',1,0)

In [355]:
data_df
#data_df.describe()

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,Month_Cos,season,Is_Autumn,Is_Winter,Is_Summer,Is_Spring
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,1.00,Autumn,1,0,0,0
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,0.87,Autumn,1,0,0,0
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,0.50,Spring,0,0,0,1
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,0.00,Spring,0,0,0,1
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,-0.50,Spring,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,-0.50,Autumn,1,0,0,0
13,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,-0.00,Autumn,1,0,0,0
14,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,0.50,Autumn,1,0,0,0
15,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,0.87,Autumn,1,0,0,0
16,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,1.00,Autumn,1,0,0,0

## Temperature Data

In [356]:
Temperature = pd.read_excel(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Weather_Data_1702.xlsx"), sheet_name = 'Fact Data(1)')
Temperature = Temperature.groupby('Month').agg({'Avg Temp. (C)':'mean','Precipitation (mm)':'sum'}).reset_index()
Temperature = Temperature.rename(columns={"Month": "Date"})
Temperature

         Date  Avg Temp. (C)  Precipitation (mm)
0  2016-01-01           0.53           247396.50
1  2016-02-01           3.74           247593.60
2  2016-03-01           6.46           330986.60
3  2016-04-01          10.00           311791.10
4  2016-05-01          13.30           343254.00
..        ...            ...                 ...
56 2020-09-01          17.19           293802.60
57 2020-10-01          11.35           287112.60
58 2020-11-01           5.73           259583.90
59 2020-12-01           1.51           242885.00
60 2021-01-01           1.91            95204.80

[61 rows x 3 columns]

## Holiday Feature Engineering

In [357]:
NBTY_Holiday = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","IsHolidayMonthLevel.csv"))

NBTY_Holiday = NBTY_Holiday.rename(columns={"Time.[Planning Month]": "Date","IsHoliday" : "HolidayCount"})
NBTY_Holiday['Date'] = pd.to_datetime(NBTY_Holiday.Date, format='%b-%y')

NBTY_Holiday = NBTY_Holiday[["Date","HolidayCount","IsPrimeMonth"]]
NBTY_Holiday.reset_index(drop=True)
#NBTY_Holiday.columns
NBTY_Holiday

         Date  HolidayCount  IsPrimeMonth
0  2015-01-01             2             0
1  2015-05-01             1             0
2  2015-07-01             1             1
3  2015-09-01             1             0
4  2015-11-01             3             0
5  2015-12-01             2             0
6  2016-01-01             2             0
7  2016-05-01             1             0
8  2016-07-01             2             1
9  2016-09-01             1             0
10 2016-11-01             3             0
11 2016-12-01             2             0
12 2017-01-01             2             0
13 2017-05-01             1             0
14 2017-07-01             2             1
15 2017-09-01             1             0
16 2017-11-01             3             0
17 2017-12-01             2             0
18 2018-01-01             2             0
19 2018-05-01             1             0
20 2018-07-01             3             1
21 2018-09-01             1             0
22 2018-11-01             3             0
23 2018-12-01             2             0
24 2019-01-01             2             0
25 2019-05-01             1             0
26 2019-07-01             3             1
27 2019-09-01             1             0
28 2019-11-01             3             0
29 2019-12-01             2             0
30 2020-01-01             2             0
31 2020-05-01             1             0
32 2020-07-01             1             0
33 2020-09-01             1             0
34 2020-10-01             2             1
35 2020-11-01             3             0
36 2020-12-01             2             0

## Holiday Feature Engineering

In [358]:
#NBTY_Holiday = NBTY_Holidaycreate_lag_variables(train, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'OutlierCorrected', month_ascending=True, lag_vars_range = [1,2,3,4,5])
#train = create_lag_variables(train, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'OutlierCorrected', month_ascending=True, lag_vars_range = [1,2,3,4,5])

## Final Dataframe after adding Holiday and Weather Information

In [359]:
merged_df1 = pd.merge(data_df,NBTY_Holiday, how = 'left', on = 'Date')
merged_df1 = create_lag_variables(merged_df1, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'HolidayCount', month_ascending=True, lag_vars_range = [1,2,3])
merged_df1 = merged_df1.rename(columns={"lag_1": "HolidayCount_Lag1","lag_2" : "HolidayCount_Lag2", "lag_3" :"HolidayCount_Lag3"})
merged_df1 = create_lag_variables(merged_df1, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'IsPrimeMonth', month_ascending=True, lag_vars_range = [1,2,3])
merged_df1 = merged_df1.rename(columns={"lag_1": "IsPrimeMonth_Lag1","lag_2" : "IsPrimeMonth_Lag2", "lag_3" :"IsPrimeMonth_Lag3"})
merged_df1


# Leading Vars
merged_df1 = pd.merge(data_df,NBTY_Holiday, how = 'left', on = 'Date')
merged_df1 = create_lead_variables(merged_df1, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'HolidayCount', month_ascending=True, lag_vars_range = [1,2,3])
merged_df1 = merged_df1.rename(columns={"lag_1": "HolidayCount_Lead1","lag_2" : "HolidayCount_Lead2", "lag_3" :"HolidayCount_Lead3"})
merged_df1 = create_lead_variables(merged_df1, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'IsPrimeMonth', month_ascending=True, lag_vars_range = [1,2,3])
merged_df1 = merged_df1.rename(columns={"lag_1": "IsPrimeMonth_Lead1","lag_2" : "IsPrimeMonth_Lead2", "lag_3" :"IsPrimeMonth_Lead3"})
merged_df1

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,Is_Summer,Is_Spring,HolidayCount,IsPrimeMonth,HolidayCount_Lead1,HolidayCount_Lead2,HolidayCount_Lead3,IsPrimeMonth_Lead1,IsPrimeMonth_Lead2,IsPrimeMonth_Lead3
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,...,0,0,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,...,0,0,nan,nan,0.00,0.00,1.00,0.00,0.00,0.00
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,...,0,1,nan,nan,0.00,1.00,0.00,0.00,0.00,0.00
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,...,0,1,nan,nan,1.00,0.00,2.00,0.00,0.00,1.00
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,...,0,1,1.00,0.00,0.00,2.00,0.00,0.00,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,...,0,0,1.00,0.00,2.00,3.00,2.00,1.00,0.00,0.00
993,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,...,0,0,2.00,1.00,3.00,2.00,0.00,0.00,0.00,0.00
994,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,...,0,0,3.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00
995,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,...,0,0,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
996,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,...,0,0,nan,nan,0.00,0.00,0.00,0.00,0.00,0.00

In [360]:
merged_df1 = pd.merge(merged_df1,Temperature, how = 'left', on = 'Date')
merged_df1

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,HolidayCount,IsPrimeMonth,HolidayCount_Lead1,HolidayCount_Lead2,HolidayCount_Lead3,IsPrimeMonth_Lead1,IsPrimeMonth_Lead2,IsPrimeMonth_Lead3,Avg Temp. (C),Precipitation (mm)
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.11,362273.60
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,...,nan,nan,0.00,0.00,1.00,0.00,0.00,0.00,3.34,256025.50
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,...,nan,nan,0.00,1.00,0.00,0.00,0.00,0.00,6.05,316580.40
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,...,nan,nan,1.00,0.00,2.00,0.00,0.00,1.00,9.31,415577.50
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,...,1.00,0.00,0.00,2.00,0.00,0.00,1.00,0.00,13.52,404222.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,...,1.00,0.00,2.00,3.00,2.00,1.00,0.00,0.00,17.19,293802.60
993,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,...,2.00,1.00,3.00,2.00,0.00,0.00,0.00,0.00,11.35,287112.60
994,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,...,3.00,0.00,2.00,0.00,0.00,0.00,0.00,0.00,5.73,259583.90
995,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.51,242885.00
996,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,...,nan,nan,0.00,0.00,0.00,0.00,0.00,0.00,1.91,95204.80

## Price Data

In [361]:
Price = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Fact.PriceData.csv"))

Price = Price.rename(columns={"Time.[Month]": "Date","Item.[L3]": "ts_id"})
Price['Date'] = pd.to_datetime(Price.Date, format='%b-%y')

# Price = NBTY_Holiday[["Date","HolidayCount","IsPrimeMonth"]]
# Price.reset_index(drop=True)
# #NBTY_Holiday.columns
Price

    Version.[Version Name]       Date                    ts_id   Price
0       CurrentWorkingView 2017-04-01  SU - SOLGAR USNUTRITION  468.19
1       CurrentWorkingView 2017-11-01  SU - SOLGAR USNUTRITION 2027.07
2       CurrentWorkingView 2018-04-01  SU - SOLGAR USNUTRITION 1270.99
3       CurrentWorkingView 2018-06-01  SU - SOLGAR USNUTRITION 3126.08
4       CurrentWorkingView 2018-07-01  SU - SOLGAR USNUTRITION 2453.07
..                     ...        ...                      ...     ...
851     CurrentWorkingView 2019-08-01          MC - MAC & MAYA  211.68
852     CurrentWorkingView 2020-10-01          MC - MAC & MAYA    9.99
853     CurrentWorkingView 2019-09-01          MC - MAC & MAYA   39.69
854     CurrentWorkingView 2019-12-01          MC - MAC & MAYA   83.16
855     CurrentWorkingView 2019-11-01          MC - MAC & MAYA   13.23

[856 rows x 4 columns]

In [362]:
merged_df1 = pd.merge(merged_df1,Price[['ts_id','Date','Price']], how = 'left', on = ['ts_id','Date'])
merged_df1

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,IsPrimeMonth,HolidayCount_Lead1,HolidayCount_Lead2,HolidayCount_Lead3,IsPrimeMonth_Lead1,IsPrimeMonth_Lead2,IsPrimeMonth_Lead3,Avg Temp. (C),Precipitation (mm),Price
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-0.11,362273.60,359.64
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,...,nan,0.00,0.00,1.00,0.00,0.00,0.00,3.34,256025.50,399.06
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,...,nan,0.00,1.00,0.00,0.00,0.00,0.00,6.05,316580.40,798.48
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,...,nan,1.00,0.00,2.00,0.00,0.00,1.00,9.31,415577.50,777.60
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,...,0.00,0.00,2.00,0.00,0.00,1.00,0.00,13.52,404222.30,666.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,...,0.00,2.00,3.00,2.00,1.00,0.00,0.00,17.19,293802.60,167.72
993,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,...,1.00,3.00,2.00,0.00,0.00,0.00,0.00,11.35,287112.60,137.77
994,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,...,0.00,2.00,0.00,0.00,0.00,0.00,0.00,5.73,259583.90,107.82
995,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.51,242885.00,35.94
996,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,...,nan,0.00,0.00,0.00,0.00,0.00,0.00,1.91,95204.80,119.80

## Sellout Forecast

In [484]:
cut_off_date = '2020-07-01' # current month - 1, start from 4
CUTOFF_DATE = "2020-10-01" # Current Month
test_end_date = "2021-06-01"

In [485]:
from dateutil.relativedelta import *

In [486]:
SelloutForecast = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/Sellout Forecast/","SelloutForecast_Month_Aggregated.csv"))
SelloutForecastCM = SelloutForecast[SelloutForecast.GenerationMonthDate==CUTOFF_DATE]
SelloutForecastCM.to_csv("look1.csv")
#SelloutForecastCM = create_lag_variables(SelloutForecastCM,date_column = 'MonthDate1', grouped_on = '[Item].[Planning Item]', shifting_var = 'Sellout', month_ascending=True, lag_vars_range = [3])
Lag3 =  pd.to_datetime(CUTOFF_DATE) + relativedelta(months=+3)
Lag3
SelloutForecastCM['MonthDate1'] = pd.to_datetime(SelloutForecastCM['MonthDate1'])
SelloutForecastCM = SelloutForecastCM[SelloutForecastCM.MonthDate1==Lag3]
#SelloutForecastCM.to_csv("look.csv")

In [487]:
train = merged_df1[merged_df1.Date<CUTOFF_DATE]
#test = data_df[(data_df.Date>=CUTOFF_DATE)&(data_df.Date<=test_end_date)]
test = merged_df1[(merged_df1.Date>=CUTOFF_DATE)&(merged_df1.Date<=test_end_date)]
test

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,IsPrimeMonth,HolidayCount_Lead1,HolidayCount_Lead2,HolidayCount_Lead3,IsPrimeMonth_Lead1,IsPrimeMonth_Lead2,IsPrimeMonth_Lead3,Avg Temp. (C),Precipitation (mm),Price
45,BB - BALANCE BAR,2020-10-01,21820.00,2020,4,4,-1.00,-0.00,10,-1.00,...,1.00,3.00,2.00,0.00,0.00,0.00,0.00,11.35,287112.60,2096.70
46,BB - BALANCE BAR,2020-11-01,29688.00,2020,4,4,-1.00,-0.00,11,-0.87,...,0.00,2.00,0.00,0.00,0.00,0.00,0.00,5.73,259583.90,2258.70
47,BB - BALANCE BAR,2020-12-01,25880.00,2020,4,4,-1.00,-0.00,12,-0.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.51,242885.00,1689.90
48,BB - BALANCE BAR,2021-01-01,32896.00,2021,5,1,0.00,1.00,1,0.00,...,nan,0.00,0.00,0.00,0.00,0.00,0.00,1.91,95204.80,2534.70
94,BF - BODY FORTRESS,2020-10-01,59329.00,2020,4,4,-1.00,-0.00,10,-1.00,...,1.00,3.00,2.00,0.00,0.00,0.00,0.00,11.35,287112.60,10927.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,SO - SUNDOWN ORGANICS,2021-01-01,204.00,2021,5,1,0.00,1.00,1,0.00,...,nan,0.00,0.00,0.00,0.00,0.00,0.00,1.91,95204.80,517.00
993,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,...,1.00,3.00,2.00,0.00,0.00,0.00,0.00,11.35,287112.60,137.77
994,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,...,0.00,2.00,0.00,0.00,0.00,0.00,0.00,5.73,259583.90,107.82
995,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.51,242885.00,35.94
996,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,...,nan,0.00,0.00,0.00,0.00,0.00,0.00,1.91,95204.80,119.80

## Additional Lag and Moving averages Features for only train data and snaive forecast for test data

In [488]:
   
train = create_lag_variables(train, date_column = 'Date', grouped_on = 'ts_id', shifting_var = 'OutlierCorrected', month_ascending=True, lag_vars_range = [1,2,3,4,5])
train = create_moving_avg(train, ma_vars = [1,2,3])

#train1=train.groupby(['ts_id'])['OutlierCorrected'].apply(lambda x: x.rolling(window=3).mean().shift(3))
#train1.to_frame()

## Conversion Percentage from Glance View

In [489]:
ConversionPercentage = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","ConversionData.csv"))
#ConversionPercentage = pd.read_csv(os.path.join("C:/Users/kadambini.indurkar/NBTY/","Data/","Category_ConversionData.csv"))

ConversionPercentage = ConversionPercentage.rename(columns={"Time.[Month]": "Date","Item.[L3]": "ts_id","Conversion% PW":"ConversionPercentage"})
#ConversionPercentage = ConversionPercentage.rename(columns={"Time.[Month]": "Date","Item.[A2]": "ts_id","Conversion% PW":"ConversionPercentage"})

ConversionPercentage['Date'] = pd.to_datetime(ConversionPercentage.Date, format='%b-%y')
ConversionPercentage

,Version.[Version Name],Date,ts_id,ConversionPercentage
0,CurrentWorkingView,2019-12-01,SU - SOLGAR USNUTRITION,0.14
1,CurrentWorkingView,2020-01-01,SU - SOLGAR USNUTRITION,0.17
2,CurrentWorkingView,2020-02-01,SU - SOLGAR USNUTRITION,0.09
3,CurrentWorkingView,2020-03-01,SU - SOLGAR USNUTRITION,0.10
4,CurrentWorkingView,2020-04-01,SU - SOLGAR USNUTRITION,0.17
...,...,...,...,...
279,CurrentWorkingView,2020-08-01,PP - PURITANS PRIDE,0.33
280,CurrentWorkingView,2020-09-01,PP - PURITANS PRIDE,0.46
281,CurrentWorkingView,2020-10-01,PP - PURITANS PRIDE,0.40
282,CurrentWorkingView,2019-12-01,PP - PURITANS PRIDE,0.73
283,CurrentWorkingView,2020-01-01,PP - PURITANS PRIDE,0.55

In [490]:
train = pd.merge(train,ConversionPercentage[['ts_id','Date','ConversionPercentage']], how = 'left', on = ['ts_id','Date'])
train

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,Price,lag_1,lag_2,lag_3,lag_4,lag_5,naive,ma_2,ma_3,ConversionPercentage
0,BB - BALANCE BAR,2017-01-01,4536.00,2017,1,1,0.00,1.00,1,0.00,...,359.64,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan
1,BB - BALANCE BAR,2017-02-01,6120.00,2017,1,1,0.00,1.00,2,0.50,...,399.06,4536.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,nan
2,BB - BALANCE BAR,2017-03-01,9132.00,2017,1,1,0.00,1.00,3,0.87,...,798.48,6120.00,4536.00,0.00,0.00,0.00,0.00,0.00,0.00,nan
3,BB - BALANCE BAR,2017-04-01,13332.00,2017,1,2,1.00,0.00,4,1.00,...,777.60,9132.00,6120.00,4536.00,0.00,0.00,4536.00,2268.00,1512.00,nan
4,BB - BALANCE BAR,2017-05-01,19800.00,2017,1,2,1.00,0.00,5,0.87,...,666.18,13332.00,9132.00,6120.00,4536.00,0.00,6120.00,5328.00,3552.00,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,DR - DR ORGANIC,2020-05-01,42.00,2020,4,2,1.00,0.00,5,0.87,...,37.15,438.00,558.00,270.00,486.00,0.00,270.00,378.00,252.00,0.25
901,DR - DR ORGANIC,2020-06-01,72.00,2020,4,2,1.00,0.00,6,0.50,...,29.95,42.00,438.00,558.00,270.00,486.00,558.00,414.00,438.00,0.25
902,DR - DR ORGANIC,2020-07-01,204.00,2020,4,3,0.00,-1.00,7,0.00,...,47.92,72.00,42.00,438.00,558.00,270.00,438.00,498.00,422.00,0.26
903,DR - DR ORGANIC,2020-08-01,360.00,2020,4,3,0.00,-1.00,8,-0.50,...,143.76,204.00,72.00,42.00,438.00,558.00,42.00,240.00,346.00,0.30
904,DR - DR ORGANIC,2020-09-01,450.00,2020,4,3,0.00,-1.00,9,-0.87,...,167.72,360.00,204.00,72.00,42.00,438.00,72.00,57.00,184.00,0.20

In [491]:
def perform_sktime_naive(train, test, date_col,dependent_var
                         , naive_strategy="seasonal_last"
                         , grouped_on = "ts_id" ):
    
    """
    Function-7: Seasonal Naive. In case of no seasonality, naive will be the result.
    """
    
    # Library import
    from sktime.forecasting.naive import NaiveForecaster
    
    
    af_forecast = pd.DataFrame()
    all_groups = train[grouped_on].unique()


    for group in tqdm(all_groups):
        y_train = train[train[grouped_on]==group].drop([grouped_on, date_col],axis=1)[dependent_var]
        test_group = test[test[grouped_on]==group]
        if len(y_train)==0:
            continue
        
        try:
            # Seasonal Naive Forecast
            forecaster = NaiveForecaster(strategy=naive_strategy, sp=11)
            forecaster.fit(y_train)
            y_pred = forecaster.predict(fh=forecast_length)
            test_group["sn_forecast"]=y_pred[-1:].values[0]
            test_group["sn_status"]=0
        except:
            # Naive Forecast
            forecaster = NaiveForecaster(strategy="last", sp=11)
            forecaster.fit(y_train)
            y_pred = forecaster.predict(fh=forecast_length)
            test_group["sn_forecast"]=y_pred[-1:].values[0]
            test_group["sn_status"]=1
            
        # Create predictions for the future, evaluate on test
        af_forecast = pd.concat([af_forecast, test_group], axis=0, ignore_index = True)
    
    return af_forecast

In [492]:
# test_lags_forecast = perform_sktime_naive(train, test, date_col = 'Date',dependent_var='lag_1',naive_strategy="seasonal_last"
#                          , grouped_on = "ts_id")

In [493]:
temp_train = train[train.Year_Nominal==2019]
temp_train
test = pd.merge(test, temp_train[['ts_id','Month_Num','lag_1','lag_2','lag_3','lag_4','lag_5','naive','ma_2','ma_3']], how='left', on=['Month_Num','ts_id'])
test

,ts_id,Date,OutlierCorrected,Year_Nominal,Year_Num,Quarter_Num,Quarter_Sin,Quarter_Cos,Month_Num,Month_Sin,...,Precipitation (mm),Price,lag_1,lag_2,lag_3,lag_4,lag_5,naive,ma_2,ma_3
0,BB - BALANCE BAR,2020-10-01,21820.00,2020,4,4,-1.00,-0.00,10,-1.00,...,287112.60,2096.70,22256.00,25872.00,26024.00,14536.00,25472.00,26024.00,20280.00,22010.67
1,BB - BALANCE BAR,2020-11-01,29688.00,2020,4,4,-1.00,-0.00,11,-0.87,...,259583.90,2258.70,33320.00,22256.00,25872.00,26024.00,14536.00,25872.00,25948.00,22144.00
2,BB - BALANCE BAR,2020-12-01,25880.00,2020,4,4,-1.00,-0.00,12,-0.50,...,242885.00,1689.90,25652.00,33320.00,22256.00,25872.00,26024.00,22256.00,24064.00,24717.33
3,BB - BALANCE BAR,2021-01-01,32896.00,2021,5,1,0.00,1.00,1,0.00,...,95204.80,2534.70,48116.00,27968.00,3692.00,13000.00,17076.00,3692.00,8346.00,11256.00
4,BF - BODY FORTRESS,2020-10-01,59329.00,2020,4,4,-1.00,-0.00,10,-1.00,...,287112.60,10927.90,27359.00,28031.00,40157.00,34288.00,28748.00,40157.00,37222.50,34397.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,SO - SUNDOWN ORGANICS,2021-01-01,204.00,2021,5,1,0.00,1.00,1,0.00,...,95204.80,517.00,nan,nan,nan,nan,nan,nan,nan,nan
88,DR - DR ORGANIC,2020-10-01,846.00,2020,4,4,-1.00,-0.00,10,-1.00,...,287112.60,137.77,10992.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
89,DR - DR ORGANIC,2020-11-01,408.00,2020,4,4,-1.00,-0.00,11,-0.87,...,259583.90,107.82,8076.00,10992.00,0.00,0.00,0.00,0.00,0.00,0.00
90,DR - DR ORGANIC,2020-12-01,150.00,2020,4,4,-1.00,-0.00,12,-0.50,...,242885.00,35.94,11022.00,8076.00,10992.00,0.00,0.00,10992.00,5496.00,3664.00
91,DR - DR ORGANIC,2021-01-01,228.00,2021,5,1,0.00,1.00,1,0.00,...,95204.80,119.80,nan,nan,nan,nan,nan,nan,nan,nan

In [494]:
# train1 = train[train.ts_id== 'BB - BALANCE BAR']
# train1.to_csv("tets.csv")

In [495]:
pred_periods = sorted(test.Date.astype(str).unique())
pred_periods

['2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01']

In [496]:
forecast_length = len(pred_periods)

In [4]:
pearson = train.corr(method='pearson')
import seaborn as sb
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(12,12))
sb.heatmap(pearson, 
            xticklabels=pearson.columns,
            yticklabels=pearson.columns,
            cmap='RdBu_r',
            annot=True,linewidths=0.5, ax=ax)

NameError: name 'train' is not defined

## Seasonal Index

In [498]:
# Compute Seasonal Index
from statsmodels.tsa.seasonal import seasonal_decompose
from dateutil.parser import parse

# # multiplicative seasonal component
# result_mul = seasonal_decompose(merged_df1['value'][-36:],   # 3 years
#                                 model='multiplicative', 
#                                 extrapolate_trend='freq')

# seasonal_index = result_mul.seasonal[-12:].to_frame()
# seasonal_index['month'] = pd.to_datetime(seasonal_index.index).month

# # merge with the base data
# merged_df1['month'] = merged_df1.index.month
# df = pd.merge(merged_df1, seasonal_index, how='left', on='month')
# df.columns = ['value', 'month', 'seasonal_index']
# df.index = merged_df1.index  # reassign the index.

In [499]:

# data_df = merged_df1.copy()
# data_df.Date = pd.to_datetime(data_df.Date, yearfirst=True)
# data_df = data_df[data_df.Date<=cut_off_date]

## SARIMAX

In [3]:
import pmdarima as pm #Finally installed again after reinstalling it..
# from pyramid.arima import auto_arima

In [501]:
uniq_combs = train.ts_id.unique()
data_df.columns

Index(['ts_id', 'Date', 'OutlierCorrected', 'Year_Nominal', 'Year_Num',
       'Quarter_Num', 'Quarter_Sin', 'Quarter_Cos', 'Month_Num', 'Month_Sin',
       'Month_Cos', 'season', 'Is_Autumn', 'Is_Winter', 'Is_Summer',
       'Is_Spring'],
      dtype='object')

In [502]:
train = train.fillna(0)
test = test.fillna(0)
train.columns

Index(['ts_id', 'Date', 'OutlierCorrected', 'Year_Nominal', 'Year_Num',
       'Quarter_Num', 'Quarter_Sin', 'Quarter_Cos', 'Month_Num', 'Month_Sin',
       'Month_Cos', 'season', 'Is_Autumn', 'Is_Winter', 'Is_Summer',
       'Is_Spring', 'HolidayCount', 'IsPrimeMonth', 'HolidayCount_Lead1',
       'HolidayCount_Lead2', 'HolidayCount_Lead3', 'IsPrimeMonth_Lead1',
       'IsPrimeMonth_Lead2', 'IsPrimeMonth_Lead3', 'Avg Temp. (C)',
       'Precipitation (mm)', 'Price', 'lag_1', 'lag_2', 'lag_3', 'lag_4',
       'lag_5', 'naive', 'ma_2', 'ma_3', 'ConversionPercentage'],
      dtype='object')

In [503]:
result_list1 = []
for ts_id in tqdm(uniq_combs):
    df = pd.DataFrame()
    df["ts_id"] = [ts_id for _ in range(forecast_length)]
    #df["ts_id"] = "1621312_7UP_Belgium"
    print(df)
    # SARIMA
    subset_df = train[(train.ts_id == ts_id)]
    smodel = pm.auto_arima(subset_df[["ConversionPercentage"]], start_p=1, start_q=1,
                         test='kpss',
                         max_p=3, max_q=3, m=12,
                         start_P=0, seasonal=False,
                         d=None, D=None, trace=True,
                         error_action='ignore',  
                         suppress_warnings=True, 
                         stepwise=True)

    smodel.summary()
    forecast = smodel.predict(n_periods=forecast_length)   
    df["Date"] = pred_periods
    df["ConversionPercentage"] = forecast
    result_list1.append(df)

  0%|          | 0/23 [00:00<?, ?it/s]

              ts_id
0  BB - BALANCE BAR
1  BB - BALANCE BAR
2  BB - BALANCE BAR
3  BB - BALANCE BAR
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-41.280, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-44.101, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-42.962, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-42.818, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-44.804, Time=0.02 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.197 seconds
                ts_id
0  BF - BODY FORTRESS
1  BF - BODY FORTRESS
2  BF - BODY FORTRESS
3  BF - BODY FORTRESS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.18 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-111.723, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-109.724, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-111.335, Time=0.09 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-113.535, Time=0.02 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.335 seconds
           ts_id
0  BrandNotGiven
1  BrandNotGiven
2  BrandNotGiven
3  BrandNotGiven
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-951.459, Time=0.02 sec
Total fit time: 0.022 seconds
               ts_id
0  DS - DISNEY BRAND
1  DS - DISNEY BRAND
2  DS - DISNEY BRAND
3  DS - DISNEY BRAND
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.14 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=44.743, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=37.785, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=25.545, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=42.747, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.20 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.26 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=25.018, Time=0.04 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=26.936, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=26.920, Time=0.09 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=35.796, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=28.892, Time=0.25 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 1.174 seconds
          ts_id
0  EC - ESTER-C
1  EC - ESTER-C
2  EC - ESTER-C
3  EC - ESTER-C
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-106.308, Time=0.18 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-108.118, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-106.628, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-106.704, Time=0.09 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-109.198, Time=0.02 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.364 seconds
                   ts_id
0  EL - EARTHLY ELEMENTS
1  EL - EARTHLY ELEMENTS
2  EL - EARTHLY ELEMENTS
3  EL - EARTHLY ELEMENTS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-64.592, Time=0.08 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-52.873, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-61.468, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-66.559, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-54.732, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=-64.591, Time=0.11 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=-62.592, Time=0.22 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=-66.640, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=-64.644, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=-64.644, Time=0.05 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=-62.836, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=-62.640, Time=0.06 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.733 seconds
         ts_id
0  MB - MET-RX
1  MB - MET-RX
2  MB - MET-RX
3  MB - MET-RX
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-3.613, Time=0.08 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=15.944, Time=0.00 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4.901, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-5.526, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=13.965, Time=0.00 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=-3.618, Time=0.09 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=-1.624, Time=0.16 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=-6.155, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=-4.373, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=-4.407, Time=0.05 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=2.970, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=-2.470, Time=0.11 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.689 seconds
                 ts_id
0  NB - NATURES BOUNTY
1  NB - NATURES BOUNTY
2  NB - NATURES BOUNTY
3  NB - NATURES BOUNTY
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-115.732, Time=0.10 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-117.539, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-116.973, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-117.657, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-118.586, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.268 seconds
                    ts_id
0  OP - OPTIMAL SOLUTIONS
1  OP - OPTIMAL SOLUTIONS
2  OP - OPTIMAL SOLUTIONS
3  OP - OPTIMAL SOLUTIONS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-162.149, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-166.100, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-164.150, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-164.150, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-167.553, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.170 seconds
                ts_id
0  OS - OSTEO BI-FLEX
1  OS - OSTEO BI-FLEX
2  OS - OSTEO BI-FLEX
3  OS - OSTEO BI-FLEX
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.16 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-34.933, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-34.083, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-37.464, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-36.645, Time=0.02 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=-46.626, Time=0.08 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=-44.638, Time=0.23 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.18 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=-42.643, Time=0.23 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=-46.788, Time=0.09 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=-39.365, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=-44.792, Time=0.13 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=-44.793, Time=0.10 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=-34.390, Time=0.07 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=-42.793, Time=0.30 sec

Best model:  ARIMA(0,1,2)(0,0,0)[0]
Total fit time: 1.727 seconds
               ts_id
0  PB - PURE PROTEIN
1  PB - PURE PROTEIN
2  PB - PURE PROTEIN
3  PB - PURE PROTEIN
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-172.409, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-176.295, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-174.331, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-174.327, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-176.399, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.209 seconds
          ts_id
0  SD - SUNDOWN
1  SD - SUNDOWN
2  SD - SUNDOWN
3  SD - SUNDOWN
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-169.467, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-168.110, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-167.205, Time=0.08 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-167.412, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-168.650, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=-167.476, Time=0.23 sec

 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=-167.473, Time=0.26 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=-166.461, Time=0.08 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=-165.289, Time=0.06 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=-165.554, Time=0.20 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=-170.244, Time=0.11 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=-168.412, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=-168.214, Time=0.02 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=-168.259, Time=0.16 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=-168.253, Time=0.19 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=-167.151, Time=0.10 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=-166.223, Time=0.08 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=-166.664, Time=0.27 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0]
Total fit time: 2.080 seconds
                     ts_id
0  SU - SOLGAR USNUTRITION
1  SU - SOLGAR USNUTRITION
2  SU - SOLGAR USNUTRITION
3  SU - SOLGAR USNUTRITION
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-172.516, Time=0.16 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-171.942, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-169.945, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-170.325, Time=0.08 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-173.697, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.321 seconds
                      ts_id
0  SW - STAR WARS LUCASFILM
1  SW - STAR WARS LUCASFILM
2  SW - STAR WARS LUCASFILM
3  SW - STAR WARS LUCASFILM
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-134.555, Time=0.16 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-135.830, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-133.830, Time=0.06 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-133.830, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-137.631, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.307 seconds
                  ts_id
0  NO - NATURE'S ORIGIN
1  NO - NATURE'S ORIGIN
2  NO - NATURE'S ORIGIN
3  NO - NATURE'S ORIGIN
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-172.762, Time=0.20 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-175.456, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-175.316, Time=0.05 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-174.894, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-176.802, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.348 seconds
                  ts_id
0  DO - DOCTOR ORGANICS
1  DO - DOCTOR ORGANICS
2  DO - DOCTOR ORGANICS
3  DO - DOCTOR ORGANICS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-234.468, Time=0.09 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-238.460, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-236.704, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-236.743, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-240.323, Time=0.02 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.176 seconds
               ts_id
0  SK - SUNDOWN KIDS
1  SK - SUNDOWN KIDS
2  SK - SUNDOWN KIDS
3  SK - SUNDOWN KIDS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-134.888, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-138.823, Time=0.04 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-136.882, Time=0.04 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-136.880, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-140.385, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.219 seconds
                         ts_id
0  SN - SUNDOWN NONEQUITY KIDS
1  SN - SUNDOWN NONEQUITY KIDS
2  SN - SUNDOWN NONEQUITY KIDS
3  SN - SUNDOWN NONEQUITY KIDS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-122.205, Time=0.10 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-114.743, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-119.741, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-124.116, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-116.499, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=-122.217, Time=0.11 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=-123.233, Time=0.21 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=-126.031, Time=0.04 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=-124.103, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=-124.109, Time=0.07 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=-121.702, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=inf, Time=0.15 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 1.038 seconds
                ts_id
0  BE - BEST BAR EVER
1  BE - BEST BAR EVER
2  BE - BEST BAR EVER
3  BE - BEST BAR EVER
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-760.767, Time=0.03 sec
Total fit time: 0.028 seconds
                        ts_id
0  PA - PURITANS PRIDE AMAZON
1  PA - PURITANS PRIDE AMAZON
2  PA - PURITANS PRIDE AMAZON
3  PA - PURITANS PRIDE AMAZON
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-46.491, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-50.372, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-48.374, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-48.374, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-51.650, Time=0.01 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.211 seconds
             ts_id
0  MC - MAC & MAYA
1  MC - MAC & MAYA
2  MC - MAC & MAYA
3  MC - MAC & MAYA
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=-40.532, Time=0.08 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-11.003, Time=0.02 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=-37.851, Time=0.03 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=inf, Time=0.07 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=-39.337, Time=0.08 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=-39.042, Time=0.08 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=-34.904, Time=0.04 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=-41.313, Time=0.05 sec
 ARIMA(3,0,0)(0,0,0)[0]             : AIC=-39.332, Time=0.05 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=-38.477, Time=0.20 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=-40.941, Time=0.07 sec

Best model:  ARIMA(2,0,0)(0,0,0)[0]
Total fit time: 0.784 seconds
                   ts_id
0  SO - SUNDOWN ORGANICS
1  SO - SUNDOWN ORGANICS
2  SO - SUNDOWN ORGANICS
3  SO - SUNDOWN ORGANICS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=-16.246, Time=0.10 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=-15.966, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=-17.230, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=-17.163, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=-16.833, Time=0.01 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=-15.449, Time=0.06 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=-14.333, Time=0.12 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=-16.445, Time=0.03 sec

Best model:  ARIMA(1,1,0)(0,0,0)[0] intercept
Total fit time: 0.440 seconds
             ts_id
0  DR - DR ORGANIC
1  DR - DR ORGANIC
2  DR - DR ORGANIC
3  DR - DR ORGANIC
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=-30.664, Time=0.09 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-2.997, Time=0.02 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=-32.625, Time=0.03 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=inf, Time=0.06 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=-30.678, Time=0.06 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=-28.922, Time=0.13 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=-31.873, Time=0.03 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 0.427 seconds

In [504]:
prediction_df_conv = pd.concat(result_list1, sort=False).dropna()
prediction_df_conv['Date'] = pd.to_datetime(prediction_df_conv['Date'])
test = pd.merge(test, prediction_df_conv[['ts_id','Date','ConversionPercentage']], how='left', on=['ts_id','Date'])
test.columns

Index(['ts_id', 'Date', 'OutlierCorrected', 'Year_Nominal', 'Year_Num',
       'Quarter_Num', 'Quarter_Sin', 'Quarter_Cos', 'Month_Num', 'Month_Sin',
       'Month_Cos', 'season', 'Is_Autumn', 'Is_Winter', 'Is_Summer',
       'Is_Spring', 'HolidayCount', 'IsPrimeMonth', 'HolidayCount_Lead1',
       'HolidayCount_Lead2', 'HolidayCount_Lead3', 'IsPrimeMonth_Lead1',
       'IsPrimeMonth_Lead2', 'IsPrimeMonth_Lead3', 'Avg Temp. (C)',
       'Precipitation (mm)', 'Price', 'lag_1', 'lag_2', 'lag_3', 'lag_4',
       'lag_5', 'naive', 'ma_2', 'ma_3', 'ConversionPercentage'],
      dtype='object')

In [505]:
result_list = []
for ts_id in tqdm(uniq_combs):
    df = pd.DataFrame()
    df["ts_id"] = [ts_id for _ in range(forecast_length)]
    #df["ts_id"] = "1621312_7UP_Belgium"
    print(df)
    # SARIMA
    subset_df = train[(train.ts_id == ts_id)]
    smodel = pm.auto_arima(subset_df[["OutlierCorrected"]], start_p=1, start_q=1,
                         test='kpss',
                         max_p=3, max_q=3, m=12,
                         start_P=0, seasonal=False,
                         d=None, D=None, trace=True,
                         error_action='ignore',  
                         suppress_warnings=True, 
                         stepwise=True)

    smodel.summary()
    forecast = smodel.predict(n_periods=forecast_length)
    #SARIMAX
    # 'HolidayCount_Lead2','HolidayCount_Lead3','IsPrimeMonth_Lead3','IsPrimeMonth_Lead2'
    sxmodel = pm.auto_arima(subset_df[['OutlierCorrected']], exogenous=subset_df[['Year_Nominal','Year_Num','Quarter_Num','Quarter_Sin','Quarter_Sin','Quarter_Cos','Month_Num','Month_Sin','Month_Cos','Is_Autumn','Is_Winter','Is_Summer','Is_Spring','HolidayCount','IsPrimeMonth','Avg Temp. (C)','Precipitation (mm)','HolidayCount_Lead2','HolidayCount_Lead3','HolidayCount_Lead1','IsPrimeMonth_Lead3','IsPrimeMonth_Lead2','IsPrimeMonth_Lead1','ConversionPercentage']],
                           start_p=1, start_q=1,
                           test='kpss',
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=False,
                           d=None, D=None, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

    sxmodel.summary()
    test_df = test[(test.ts_id == ts_id)]
    print(test_df)
    forecast_Sarimax = sxmodel.predict(n_periods=forecast_length,exogenous=test_df[['Year_Nominal','Year_Num','Quarter_Num','Quarter_Sin','Quarter_Sin','Quarter_Cos','Month_Num','Month_Sin','Month_Cos','Is_Autumn','Is_Winter','Is_Summer','Is_Spring','HolidayCount','IsPrimeMonth','Avg Temp. (C)','Precipitation (mm)','HolidayCount_Lead2','HolidayCount_Lead3','HolidayCount_Lead1','IsPrimeMonth_Lead3','IsPrimeMonth_Lead2','IsPrimeMonth_Lead1','ConversionPercentage']])
    df["Date"] = pred_periods
    df["SARIMAX_Predictions"] = forecast_Sarimax
    df["SARIMA_Predictions"] = forecast
        
    result_list.append(df)

  0%|          | 0/23 [00:00<?, ?it/s]

              ts_id
0  BB - BALANCE BAR
1  BB - BALANCE BAR
2  BB - BALANCE BAR
3  BB - BALANCE BAR
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=952.993, Time=0.13 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=972.128, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=970.553, Time=0.00 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=970.277, Time=0.00 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=948.178, Time=0.14 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=961.899, Time=0.02 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=952.503, Time=0.05 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=960.031, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.16 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=958.380, Time=0.04 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.26 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=951.389, Time=0.03 sec

Best model:  ARIMA(2,1,1)(0,0,0)[0] intercept
Total fit time: 1.032 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=968.734, Time=0.54 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1094.595, Time=0.09 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=969.305, Time=0.10 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=969.373, Time=0.20 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=967.481, Time=0.55 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=967.624, Time=0.60 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=969.458, Time=0.70 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=966.961, Time=0.88 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=968.124, Time=0.60 sec
 ARIMA(3,0,2)(0,0,0)[0]             : AIC=970.818, Time=0.76 sec
 ARIMA(2,0,3)(0,0,0)[0]             : AIC=964.528, Time=0.89 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=962.820, Time=0.96 sec
 ARIMA(0,0,3)(0,0,0)[0]             : AIC=967.652, Time=0.92 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=966.992, Time=0.55 sec
 ARIMA(1,0,3)(0,0,0)[0] intercept   : AIC=964.604, Time=0.94 sec

Best model:  ARIMA(1,0,3)(0,0,0)[0]
Total fit time: 9.280 seconds
              ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
0  BB - BALANCE BAR 2020-10-01          21820.00          2020         4
1  BB - BALANCE BAR 2020-11-01          29688.00          2020         4
2  BB - BALANCE BAR 2020-12-01          25880.00          2020         4
3  BB - BALANCE BAR 2021-01-01          32896.00          2021         5

   Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...   Price  \
0            4        -1.00        -0.00         10      -1.00  ... 2096.70
1            4        -1.00        -0.00         11      -0.87  ... 2258.70
2            4        -1.00        -0.00         12      -0.50  ... 1689.90
3            1         0.00         1.00          1       0.00  ... 2534.70

     lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2     ma_3  \
0 22256.00 25872.00 26024.00 14536.00 25472.00 26024.00 20280.00 22010.67
1 33320.00 22256.00 25872.00 26024.00 14536.00 25872.00 25948.00 22144.00
2 25652.00 33320.00 22256.00 25872.00 26024.00 22256.00 24064.00 24717.33
3 48116.00 27968.00  3692.00 13000.00 17076.00  3692.00  8346.00 11256.00

   ConversionPercentage
0                  1.07
1                  1.07
2                  1.07
3                  1.07

[4 rows x 36 columns]
                ts_id
0  BF - BODY FORTRESS
1  BF - BODY FORTRESS
2  BF - BODY FORTRESS
3  BF - BODY FORTRESS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1006.020, Time=0.06 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1020.261, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1013.242, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=998.744, Time=0.07 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1018.448, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1002.569, Time=0.14 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.27 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1000.660, Time=0.02 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0] intercept
Total fit time: 0.579 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1027.396, Time=0.43 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1151.061, Time=0.07 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1025.588, Time=0.13 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1025.574, Time=0.18 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=1026.735, Time=0.61 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=1027.975, Time=0.74 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=1027.574, Time=0.58 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0]
Total fit time: 2.766 seconds
                ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
4  BF - BODY FORTRESS 2020-10-01          59329.00          2020         4
5  BF - BODY FORTRESS 2020-11-01          42776.00          2020         4
6  BF - BODY FORTRESS 2020-12-01          34782.00          2020         4
7  BF - BODY FORTRESS 2021-01-01          43167.00          2021         5

   Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...    Price  \
4            4        -1.00        -0.00         10      -1.00  ... 10927.90
5            4        -1.00        -0.00         11      -0.87  ...  6780.77
6            4        -1.00        -0.00         12      -0.50  ...  5278.48
7            1         0.00         1.00          1       0.00  ...  6166.50

     lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2     ma_3  \
4 27359.00 28031.00 40157.00 34288.00 28748.00 40157.00 37222.50 34397.67
5 77670.00 27359.00 28031.00 40157.00 34288.00 28031.00 34094.00 34158.67
6 35695.00 77670.00 27359.00 28031.00 40157.00 27359.00 27695.00 31849.00
7 62536.00 28472.00 12238.00 18060.00 13830.00 12238.00 15149.00 14709.33

   ConversionPercentage
4                  0.19
5                  0.19
6                  0.19
7                  0.19

[4 rows x 36 columns]
           ts_id
0  BrandNotGiven
1  BrandNotGiven
2  BrandNotGiven
3  BrandNotGiven
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=inf, Time=0.13 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=772.941, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=773.369, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=770.754, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=771.135, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=767.480, Time=0.13 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.20 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.19 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.25 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=766.450, Time=0.06 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=769.367, Time=0.01 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=768.366, Time=0.08 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=768.159, Time=0.09 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=767.278, Time=0.04 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=769.970, Time=0.14 sec

Best model:  ARIMA(0,1,2)(0,0,0)[0]
Total fit time: 1.429 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=804.552, Time=0.42 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=940.479, Time=0.10 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=802.849, Time=0.45 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=806.482, Time=0.42 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=804.573, Time=0.58 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=806.468, Time=0.54 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=804.870, Time=0.27 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 2.791 seconds
            ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
8   BrandNotGiven 2020-10-01          17828.00          2020         4
9   BrandNotGiven 2020-11-01          12038.00          2020         4
10  BrandNotGiven 2020-12-01          14961.10          2020         4
11  BrandNotGiven 2021-01-01          37588.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
8             4        -1.00        -0.00         10      -1.00  ...   0.00
9             4        -1.00        -0.00         11      -0.87  ...   0.00
10            4        -1.00        -0.00         12      -0.50  ...   0.00
11            1         0.00         1.00          1       0.00  ...   0.00

     lag_1   lag_2   lag_3   lag_4   lag_5   naive    ma_2    ma_3  \
8  2076.00 2892.00 4032.00 1536.00 2556.00 4032.00 2784.00 2708.00
9  1428.00 2076.00 2892.00 4032.00 1536.00 2892.00 3462.00 2820.00
10 2796.00 1428.00 2076.00 2892.00 4032.00 2076.00 2484.00 3000.00
11   72.00   36.00    0.00    0.00    0.00    0.00    0.00    0.00

    ConversionPercentage
8                   0.00
9                   0.00
10                  0.00
11                  0.00

[4 rows x 36 columns]
               ts_id
0  DS - DISNEY BRAND
1  DS - DISNEY BRAND
2  DS - DISNEY BRAND
3  DS - DISNEY BRAND
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=843.368, Time=0.04 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=876.609, Time=0.00 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=845.924, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=857.697, Time=0.04 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=844.977, Time=0.05 sec

 ARIMA(1,0,2)(0,0,0)[0]             : AIC=844.630, Time=0.10 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=856.402, Time=0.05 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=845.866, Time=0.02 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=845.881, Time=0.11 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=842.268, Time=0.02 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=841.974, Time=0.02 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=848.352, Time=0.01 sec
 ARIMA(0,0,2)(0,0,0)[0] intercept   : AIC=843.311, Time=0.07 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=840.391, Time=0.01 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=842.276, Time=0.08 sec
 ARIMA(2,0,1)(0,0,0)[0] intercept   : AIC=844.009, Time=0.04 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0] intercept
Total fit time: 0.690 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=834.178, Time=0.15 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=957.317, Time=0.09 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=832.021, Time=0.06 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=832.017, Time=0.23 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=832.598, Time=0.71 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=830.800, Time=0.82 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=833.220, Time=0.87 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=828.971, Time=0.64 sec
 ARIMA(0,0,3)(0,0,0)[0]             : AIC=827.695, Time=0.07 sec
 ARIMA(0,0,3)(0,0,0)[0] intercept   : AIC=829.079, Time=0.62 sec

Best model:  ARIMA(0,0,3)(0,0,0)[0]
Total fit time: 4.274 seconds
                ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
12  DS - DISNEY BRAND 2020-10-01          27228.00          2020         4
13  DS - DISNEY BRAND 2020-11-01          11461.70          2020         4
14  DS - DISNEY BRAND 2020-12-01          25212.00          2020         4
15  DS - DISNEY BRAND 2021-01-01          51132.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...   Price  \
12            4        -1.00        -0.00         10      -1.00  ...  819.10
13            4        -1.00        -0.00         11      -0.87  ...  551.89
14            4        -1.00        -0.00         12      -0.50  ...  820.90
15            1         0.00         1.00          1       0.00  ... 1479.58

     lag_1   lag_2   lag_3   lag_4   lag_5   naive    ma_2    ma_3  \
12 1332.00 1356.00 1332.00 4128.00  756.00 1332.00 2730.00 2072.00
13 7776.00 1332.00 1356.00 1332.00 4128.00 1356.00 1344.00 2272.00
14 7668.00 7776.00 1332.00 1356.00 1332.00 1332.00 1344.00 1340.00
15 9552.00 3696.00 2040.00 2184.00 1908.00 2040.00 2112.00 2044.00

    ConversionPercentage
12                  0.38
13                  0.38
14                  0.38
15                  0.38

[4 rows x 36 columns]
          ts_id
0  EC - ESTER-C
1  EC - ESTER-C
2  EC - ESTER-C
3  EC - ESTER-C
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=954.872, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=959.688, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=955.014, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=953.898, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=957.791, Time=0.00 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=956.557, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=958.147, Time=0.08 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=952.196, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=953.149, Time=0.03 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=954.309, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=953.220, Time=0.01 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=955.446, Time=0.06 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.337 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=982.368, Time=0.39 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1105.856, Time=0.11 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=980.227, Time=0.13 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=980.313, Time=0.21 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=981.712, Time=0.33 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=983.636, Time=0.59 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=982.234, Time=0.05 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 1.827 seconds
           ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
16  EC - ESTER-C 2020-10-01          20124.00          2020         4
17  EC - ESTER-C 2020-11-01          28440.00          2020         4
18  EC - ESTER-C 2020-12-01          38016.00          2020         4
19  EC - ESTER-C 2021-01-01          39588.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
16            4        -1.00        -0.00         10      -1.00  ... 546.37
17            4        -1.00        -0.00         11      -0.87  ... 453.13
18            4        -1.00        -0.00         12      -0.50  ... 745.34
19            1         0.00         1.00          1       0.00  ... 917.65

      lag_1    lag_2   lag_3   lag_4   lag_5   naive    ma_2    ma_3  \
16  6252.00  6264.00 7188.00 4512.00 5016.00 7188.00 5850.00 5572.00
17  7272.00  6252.00 6264.00 7188.00 4512.00 6264.00 6726.00 5988.00
18  8832.00  7272.00 6252.00 6264.00 7188.00 6252.00 6258.00 6568.00
19 12900.00 16056.00 1560.00 9144.00 5040.00 1560.00 5352.00 5248.00

    ConversionPercentage
16                  0.43
17                  0.43
18                  0.43
19                  0.43

[4 rows x 36 columns]
                   ts_id
0  EL - EARTHLY ELEMENTS
1  EL - EARTHLY ELEMENTS
2  EL - EARTHLY ELEMENTS
3  EL - EARTHLY ELEMENTS
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=531.832, Time=0.05 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=535.662, Time=0.00 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=533.931, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=534.779, Time=0.02 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=inf, Time=0.13 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=inf, Time=0.11 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=535.893, Time=0.04 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=535.104, Time=0.03 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=inf, Time=0.17 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=530.041, Time=0.05 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=528.034, Time=0.05 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=526.413, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=528.040, Time=0.02 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0] intercept
Total fit time: 0.712 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=560.543, Time=0.65 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=683.814, Time=0.14 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=558.501, Time=0.21 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=558.543, Time=0.32 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=560.493, Time=0.57 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=562.543, Time=0.40 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=560.503, Time=0.18 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 2.471 seconds
                    ts_id       Date  OutlierCorrected  Year_Nominal  \
20  EL - EARTHLY ELEMENTS 2020-10-01              0.00          2020
21  EL - EARTHLY ELEMENTS 2020-11-01              0.00          2020
22  EL - EARTHLY ELEMENTS 2020-12-01             30.00          2020
23  EL - EARTHLY ELEMENTS 2021-01-01              0.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
20         4            4        -1.00        -0.00         10      -1.00
21         4            4        -1.00        -0.00         11      -0.87
22         4            4        -1.00        -0.00         12      -0.50
23         5            1         0.00         1.00          1       0.00

    ...  Price lag_1  lag_2  lag_3  lag_4  lag_5  naive  ma_2  ma_3  \
20  ...   0.00  0.00   0.00  60.00   0.00   0.00  60.00 30.00 20.00
21  ...   0.00 14.00   0.00   0.00  60.00   0.00   0.00 30.00 20.00
22  ...   8.40 51.00  14.00   0.00   0.00  60.00   0.00  0.00 20.00
23  ...  21.25  0.00   0.00   0.00   0.00   0.00   0.00  0.00  0.00

    ConversionPercentage
20                  0.34
21                  0.34
22                  0.34
23                  0.34

[4 rows x 36 columns]
         ts_id
0  MB - MET-RX
1  MB - MET-RX
2  MB - MET-RX
3  MB - MET-RX
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=978.247, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=992.538, Time=0.00 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=986.797, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=978.307, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=990.728, Time=0.01 sec

 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=980.996, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=980.401, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=978.329, Time=0.10 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=982.695, Time=0.03 sec
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=981.861, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=979.291, Time=0.02 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0] intercept
Total fit time: 0.472 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1013.278, Time=0.48 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1140.187, Time=0.07 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1014.536, Time=0.04 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1014.636, Time=0.14 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=1013.111, Time=0.82 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=1014.038, Time=0.28 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=1014.456, Time=0.46 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=1011.053, Time=0.87 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=1012.862, Time=0.47 sec
 ARIMA(3,0,2)(0,0,0)[0]             : AIC=1015.695, Time=0.58 sec
 ARIMA(2,0,3)(0,0,0)[0]             : AIC=1015.624, Time=0.48 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=1014.872, Time=1.01 sec
 ARIMA(3,0,3)(0,0,0)[0]             : AIC=1017.678, Time=2.81 sec
 ARIMA(2,0,2)(0,0,0)[0] intercept   : AIC=1015.873, Time=2.14 sec

Best model:  ARIMA(2,0,2)(0,0,0)[0]
Total fit time: 10.671 seconds
          ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
24  MB - MET-RX 2020-10-01          45905.00          2020         4
25  MB - MET-RX 2020-11-01          54560.00          2020         4
26  MB - MET-RX 2020-12-01          44550.00          2020         4
27  MB - MET-RX 2021-01-01          62244.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...    Price  \
24            4        -1.00        -0.00         10      -1.00  ... 20517.29
25            4        -1.00        -0.00         11      -0.87  ... 17749.38
26            4        -1.00        -0.00         12      -0.50  ... 14627.23
27            1         0.00         1.00          1       0.00  ... 20464.16

      lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2     ma_3  \
24 36629.00 34597.00 36551.00 31155.00 32749.00 36551.00 33853.00 33485.00
25 57848.00 36629.00 34597.00 36551.00 31155.00 34597.00 35574.00 34101.00
26 37557.00 57848.00 36629.00 34597.00 36551.00 36629.00 35613.00 35925.67
27 52954.00 27409.00 18918.00 22686.00 25238.00 18918.00 20802.00 22280.67

    ConversionPercentage
24                  0.33
25                  0.33
26                  0.33
27                  0.33

[4 rows x 36 columns]
                 ts_id
0  NB - NATURES BOUNTY
1  NB - NATURES BOUNTY
2  NB - NATURES BOUNTY
3  NB - NATURES BOUNTY
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1215.913, Time=0.08 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1216.468, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1215.151, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1211.086, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1214.865, Time=0.02 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1217.968, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.33 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1208.954, Time=0.01 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=1210.236, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=1210.279, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=1213.990, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=1212.034, Time=0.10 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.811 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1243.293, Time=0.37 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1369.006, Time=0.04 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1241.324, Time=0.11 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1241.294, Time=0.17 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=1243.393, Time=0.30 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=inf, Time=1.66 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=1243.291, Time=0.23 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0]
Total fit time: 2.916 seconds
                  ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
28  NB - NATURES BOUNTY 2020-10-01        1525012.00          2020         4
29  NB - NATURES BOUNTY 2020-11-01        1395752.00          2020         4
30  NB - NATURES BOUNTY 2020-12-01        1335612.00          2020         4
31  NB - NATURES BOUNTY 2021-01-01        3081900.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...    Price  \
28            4        -1.00        -0.00         10      -1.00  ... 31711.22
29            4        -1.00        -0.00         11      -0.87  ... 25338.51
30            4        -1.00        -0.00         12      -0.50  ... 22695.42
31            1         0.00         1.00          1       0.00  ... 39658.87

       lag_1     lag_2     lag_3     lag_4     lag_5     naive      ma_2  \
28 234222.00 247320.00 277200.00 165546.00 200193.00 277200.00 221373.00
29 441048.00 234222.00 247320.00 277200.00 165546.00 247320.00 262260.00
30 310294.00 441048.00 234222.00 247320.00 277200.00 234222.00 240771.00
31 312132.00 227730.00 140046.00 151866.00 118188.00 140046.00 145956.00

        ma_3  ConversionPercentage
28 214313.00                  0.40
29 230022.00                  0.40
30 252914.00                  0.40
31 136700.00                  0.40

[4 rows x 36 columns]
                    ts_id
0  OP - OPTIMAL SOLUTIONS
1  OP - OPTIMAL SOLUTIONS
2  OP - OPTIMAL SOLUTIONS
3  OP - OPTIMAL SOLUTIONS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1031.127, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1046.909, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1035.082, Time=0.02 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1030.283, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1044.964, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1033.539, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=1032.387, Time=0.18 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1028.359, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=1029.880, Time=0.05 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=1030.366, Time=0.05 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=1033.465, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=1032.310, Time=0.09 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.630 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1054.672, Time=0.96 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1182.895, Time=0.09 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1053.860, Time=0.31 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1055.364, Time=0.59 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=1052.873, Time=0.28 sec
 ARIMA(3,0,0)(0,0,0)[0]             : AIC=1051.617, Time=1.31 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=1052.801, Time=1.41 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=1051.882, Time=0.98 sec
 ARIMA(3,0,0)(0,0,0)[0] intercept   : AIC=1053.626, Time=0.47 sec

Best model:  ARIMA(3,0,0)(0,0,0)[0]
Total fit time: 6.424 seconds
                     ts_id       Date  OutlierCorrected  Year_Nominal  \
32  OP - OPTIMAL SOLUTIONS 2020-10-01         151872.00          2020
33  OP - OPTIMAL SOLUTIONS 2020-11-01         102870.00          2020
34  OP - OPTIMAL SOLUTIONS 2020-12-01         118266.00          2020
35  OP - OPTIMAL SOLUTIONS 2021-01-01         243822.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
32         4            4        -1.00        -0.00         10      -1.00
33         4            4        -1.00        -0.00         11      -0.87
34         4            4        -1.00        -0.00         12      -0.50
35         5            1         0.00         1.00          1       0.00

    ...   Price    lag_1    lag_2    lag_3    lag_4    lag_5    naive  \
32  ... 3700.45 47226.00 45702.00 91134.00 46746.00 65466.00 91134.00
33  ... 3631.33 73914.00 47226.00 45702.00 91134.00 46746.00 45702.00
34  ... 3538.09 89670.00 73914.00 47226.00 45702.00 91134.00 47226.00
35  ... 5920.32 73170.00 47640.00 22026.00 22926.00 22926.00 22026.00

       ma_2     ma_3  ConversionPercentage
32 68940.00 67782.00                  0.17
33 68418.00 61194.00                  0.17
34 46464.00 61354.00                  0.17
35 22476.00 22626.00                  0.17

[4 rows x 36 columns]
                ts_id
0  OS - OSTEO BI-FLEX
1  OS - OSTEO BI-FLEX
2  OS - OSTEO BI-FLEX
3  OS - OSTEO BI-FLEX
Performing stepwise search to minimize aic

 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=893.304, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=897.640, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=899.139, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=894.191, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=896.388, Time=0.01 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=888.801, Time=0.06 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=891.815, Time=0.03 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=885.895, Time=0.12 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=884.381, Time=0.08 sec
 ARIMA(3,1,0)(0,0,0)[0]             : AIC=885.390, Time=0.05 sec

Best model:  ARIMA(3,1,0)(0,0,0)[0] intercept
Total fit time: 0.668 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=911.981, Time=0.98 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1040.931, Time=0.24 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=912.338, Time=0.35 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=913.861, Time=0.91 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=910.639, Time=1.23 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=909.974, Time=0.92 sec
 ARIMA(3,0,0)(0,0,0)[0]             : AIC=911.100, Time=1.85 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=912.565, Time=0.97 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=911.974, Time=1.48 sec

Best model:  ARIMA(2,0,0)(0,0,0)[0]
Total fit time: 8.926 seconds
                 ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
36  OS - OSTEO BI-FLEX 2020-10-01          32376.00          2020         4
37  OS - OSTEO BI-FLEX 2020-11-01          16656.00          2020         4
38  OS - OSTEO BI-FLEX 2020-12-01          26700.00          2020         4
39  OS - OSTEO BI-FLEX 2021-01-01          57792.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...   Price  \
36            4        -1.00        -0.00         10      -1.00  ... 6052.23
37            4        -1.00        -0.00         11      -0.87  ... 2562.43
38            4        -1.00        -0.00         12      -0.50  ... 3626.33
39            1         0.00         1.00          1       0.00  ... 7812.26

      lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2     ma_3  \
36 13632.00 10644.00 15216.00  8268.00  6996.00 15216.00 11742.00 10160.00
37 11988.00 13632.00 10644.00 15216.00  8268.00 10644.00 12930.00 11376.00
38 14088.00 11988.00 13632.00 10644.00 15216.00 13632.00 12138.00 13164.00
39 12456.00  7956.00  3096.00  1776.00   636.00  3096.00  2436.00  1836.00

    ConversionPercentage
36                  0.64
37                  0.70
38                  0.70
39                  0.70

[4 rows x 36 columns]
               ts_id
0  PB - PURE PROTEIN
1  PB - PURE PROTEIN
2  PB - PURE PROTEIN
3  PB - PURE PROTEIN
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1105.200, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1100.744, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1099.436, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1090.365, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1099.042, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1102.437, Time=0.04 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=1094.167, Time=0.13 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1089.128, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=1089.934, Time=0.10 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=1088.516, Time=0.06 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=1088.762, Time=0.16 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=1086.770, Time=0.06 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=1087.313, Time=0.18 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=1105.719, Time=0.09 sec

Best model:  ARIMA(0,1,3)(0,0,0)[0]
Total fit time: 1.040 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1111.304, Time=1.01 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1235.155, Time=0.04 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1109.438, Time=0.29 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1109.420, Time=0.25 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=1111.360, Time=0.33 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=1113.299, Time=0.95 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=1111.386, Time=0.66 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0]
Total fit time: 3.552 seconds
                ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
40  PB - PURE PROTEIN 2020-10-01         180158.00          2020         4
41  PB - PURE PROTEIN 2020-11-01         169933.00          2020         4
42  PB - PURE PROTEIN 2020-12-01         150992.00          2020         4
43  PB - PURE PROTEIN 2021-01-01         222725.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...    Price  \
40            4        -1.00        -0.00         10      -1.00  ... 19147.39
41            4        -1.00        -0.00         11      -0.87  ... 15306.78
42            4        -1.00        -0.00         12      -0.50  ... 12302.18
43            1         0.00         1.00          1       0.00  ... 20945.49

       lag_1     lag_2     lag_3     lag_4     lag_5     naive      ma_2  \
40  97604.00  98703.00 108374.00 101129.00  97640.00 108374.00 104751.50
41 122976.00  97604.00  98703.00 108374.00 101129.00  98703.00 103538.50
42 113527.00 122976.00  97604.00  98703.00 108374.00  97604.00  98153.50
43 182897.00  92638.00  26934.00  50841.00  45094.00  26934.00  38887.50

        ma_3  ConversionPercentage
40 102381.00                  0.29
41 102735.33                  0.29
42 101560.33                  0.29
43  40956.33                  0.29

[4 rows x 36 columns]
          ts_id
0  SD - SUNDOWN
1  SD - SUNDOWN
2  SD - SUNDOWN
3  SD - SUNDOWN
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1047.646, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=1054.659, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=1050.958, Time=0.01 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1046.164, Time=0.02 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=1052.914, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1051.073, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=1049.034, Time=0.13 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=1045.484, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=1046.347, Time=0.03 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=1046.573, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=1049.486, Time=0.01 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=1048.175, Time=0.12 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 0.529 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=1063.817, Time=1.21 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1188.914, Time=0.12 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=1061.954, Time=0.43 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=1062.352, Time=0.54 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=1063.461, Time=0.52 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=1064.591, Time=1.11 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=1063.954, Time=0.44 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 4.411 seconds
           ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
44  SD - SUNDOWN 2020-10-01          92244.00          2020         4
45  SD - SUNDOWN 2020-11-01         110760.00          2020         4
46  SD - SUNDOWN 2020-12-01         105834.00          2020         4
47  SD - SUNDOWN 2021-01-01         239076.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...    Price  \
44            4        -1.00        -0.00         10      -1.00  ...  9601.81
45            4        -1.00        -0.00         11      -0.87  ...  7991.86
46            4        -1.00        -0.00         12      -0.50  ...  6065.05
47            1         0.00         1.00          1       0.00  ... 14837.22

      lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2     ma_3  \
44 46668.00 55530.00 55536.00 39084.00 44592.00 55536.00 47310.00 46404.00
45 82620.00 46668.00 55530.00 55536.00 39084.00 55530.00 55533.00 50050.00
46 35034.00 82620.00 46668.00 55530.00 55536.00 46668.00 51099.00 52578.00
47 69390.00 52692.00 15492.00 28566.00 24858.00 15492.00 22029.00 22972.00

    ConversionPercentage
44                  0.28
45                  0.28
46                  0.28
47                  0.28

[4 rows x 36 columns]
                     ts_id
0  SU - SOLGAR USNUTRITION
1  SU - SOLGAR USNUTRITION
2  SU - SOLGAR USNUTRITION
3  SU - SOLGAR USNUTRITION
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=839.917, Time=0.05 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=903.963, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=837.765, Time=0.02 sec

 ARIMA(0,0,1)(0,0,0)[0]             : AIC=868.391, Time=0.09 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=839.797, Time=0.05 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=841.073, Time=0.07 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=838.661, Time=0.01 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 0.295 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=884.557, Time=0.47 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=1010.626, Time=0.16 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=882.173, Time=0.79 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=882.752, Time=0.14 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=884.524, Time=0.11 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=886.274, Time=0.91 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=884.229, Time=0.60 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 3.218 seconds
                      ts_id       Date  OutlierCorrected  Year_Nominal  \
48  SU - SOLGAR USNUTRITION 2020-10-01              0.00          2020
49  SU - SOLGAR USNUTRITION 2020-11-01              0.00          2020
50  SU - SOLGAR USNUTRITION 2020-12-01              0.00          2020
51  SU - SOLGAR USNUTRITION 2021-01-01              0.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
48         4            4        -1.00        -0.00         10      -1.00
49         4            4        -1.00        -0.00         11      -0.87
50         4            4        -1.00        -0.00         12      -0.50
51         5            1         0.00         1.00          1       0.00

    ...  Price    lag_1    lag_2    lag_3    lag_4    lag_5    naive     ma_2  \
48  ...   0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
49  ...   0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
50  ...   0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00
51  ...   0.00 11136.00 10299.76 13524.00 17016.00 14004.00 13524.00 15270.00

       ma_3  ConversionPercentage
48     0.00                  0.11
49     0.00                  0.11
50     0.00                  0.11
51 14848.00                  0.11

[4 rows x 36 columns]
                      ts_id
0  SW - STAR WARS LUCASFILM
1  SW - STAR WARS LUCASFILM
2  SW - STAR WARS LUCASFILM
3  SW - STAR WARS LUCASFILM
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=640.872, Time=0.10 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=664.620, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=650.398, Time=0.04 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=658.333, Time=0.06 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=642.642, Time=0.11 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=642.712, Time=0.19 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=653.136, Time=0.11 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=643.295, Time=0.06 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=643.878, Time=0.20 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=639.848, Time=0.20 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=639.579, Time=0.13 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=638.309, Time=0.02 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=639.253, Time=0.03 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0] intercept
Total fit time: 1.249 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=652.248, Time=1.01 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=775.462, Time=0.25 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=649.676, Time=0.68 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=650.172, Time=0.93 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=648.955, Time=0.33 sec
 ARIMA(3,0,0)(0,0,0)[0]             : AIC=650.089, Time=0.50 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=651.604, Time=0.56 sec
 ARIMA(3,0,1)(0,0,0)[0]             : AIC=652.087, Time=0.58 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=650.955, Time=0.37 sec

Best model:  ARIMA(2,0,0)(0,0,0)[0]
Total fit time: 5.242 seconds
                       ts_id       Date  OutlierCorrected  Year_Nominal  \
52  SW - STAR WARS LUCASFILM 2020-10-01            612.00          2020
53  SW - STAR WARS LUCASFILM 2020-11-01           1932.00          2020
54  SW - STAR WARS LUCASFILM 2020-12-01            216.00          2020
55  SW - STAR WARS LUCASFILM 2021-01-01            924.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
52         4            4        -1.00        -0.00         10      -1.00
53         4            4        -1.00        -0.00         11      -0.87
54         4            4        -1.00        -0.00         12      -0.50
55         5            1         0.00         1.00          1       0.00

    ...  Price   lag_1  lag_2  lag_3  lag_4  lag_5  naive   ma_2   ma_3  \
52  ...  89.07  504.00 228.00 636.00 312.00  72.00 636.00 474.00 340.00
53  ... 131.21  276.00 504.00 228.00 636.00 312.00 228.00 432.00 392.00
54  ...  50.28  804.00 276.00 504.00 228.00 636.00 504.00 366.00 456.00
55  ... 270.20 1224.00 228.00 720.00 264.00 228.00 720.00 492.00 404.00

    ConversionPercentage
52                  0.15
53                  0.15
54                  0.15
55                  0.15

[4 rows x 36 columns]
                  ts_id
0  NO - NATURE'S ORIGIN
1  NO - NATURE'S ORIGIN
2  NO - NATURE'S ORIGIN
3  NO - NATURE'S ORIGIN
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=inf, Time=0.08 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=699.309, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=699.755, Time=0.02 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=699.926, Time=0.05 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=695.290, Time=0.03 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=697.093, Time=0.02 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=697.242, Time=0.03 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=699.049, Time=0.10 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0] intercept
Total fit time: 0.349 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=724.016, Time=0.29 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=839.636, Time=0.28 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=721.766, Time=0.07 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=721.903, Time=0.23 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=723.563, Time=0.38 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=725.936, Time=0.27 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=723.770, Time=0.59 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 2.100 seconds
                   ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
56  NO - NATURE'S ORIGIN 2020-10-01              0.00          2020         4
57  NO - NATURE'S ORIGIN 2020-11-01             72.00          2020         4
58  NO - NATURE'S ORIGIN 2020-12-01              0.00          2020         4
59  NO - NATURE'S ORIGIN 2021-01-01             48.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
56            4        -1.00        -0.00         10      -1.00  ...   6.74
57            4        -1.00        -0.00         11      -0.87  ...  16.85
58            4        -1.00        -0.00         12      -0.50  ...   0.00
59            1         0.00         1.00          1       0.00  ...  20.22

    lag_1  lag_2  lag_3  lag_4  lag_5  naive   ma_2   ma_3  \
56  72.00  72.00 144.00 150.00 120.00 144.00 147.00 138.00
57 114.00  72.00  72.00 144.00 150.00  72.00 108.00 122.00
58 468.00 114.00  72.00  72.00 144.00  72.00  72.00  96.00
59 426.00 396.00  24.00 162.00 354.00  24.00  93.00 180.00

    ConversionPercentage
56                  0.15
57                  0.15
58                  0.15
59                  0.15

[4 rows x 36 columns]
                  ts_id
0  DO - DOCTOR ORGANICS
1  DO - DOCTOR ORGANICS
2  DO - DOCTOR ORGANICS
3  DO - DOCTOR ORGANICS
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=602.010, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=606.230, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=604.409, Time=0.05 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=600.228, Time=0.11 sec

 ARIMA(0,1,0)(0,0,0)[0]             : AIC=604.238, Time=0.02 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=601.756, Time=0.18 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=601.419, Time=0.34 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=598.378, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=600.173, Time=0.11 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=599.932, Time=0.07 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=602.437, Time=0.01 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=599.574, Time=0.18 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 1.310 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=648.012, Time=0.42 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=759.980, Time=0.26 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=645.533, Time=0.95 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=645.597, Time=0.69 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=647.448, Time=1.68 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=650.039, Time=0.43 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=647.541, Time=0.36 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 4.801 seconds
                   ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
60  DO - DOCTOR ORGANICS 2020-10-01             12.00          2020         4
61  DO - DOCTOR ORGANICS 2020-11-01              6.00          2020         4
62  DO - DOCTOR ORGANICS 2020-12-01             42.00          2020         4
63  DO - DOCTOR ORGANICS 2021-01-01              0.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
60            4        -1.00        -0.00         10      -1.00  ... 217.78
61            4        -1.00        -0.00         11      -0.87  ... 103.79
62            4        -1.00        -0.00         12      -0.50  ... 133.11
63            1         0.00         1.00          1       0.00  ...   0.00

     lag_1   lag_2   lag_3   lag_4   lag_5   naive    ma_2    ma_3  \
60  264.00  804.00 1104.00  816.00  786.00 1104.00  960.00  902.00
61  114.00  264.00  804.00 1104.00  816.00  804.00  954.00  908.00
62  120.00  114.00  264.00  804.00 1104.00  264.00  534.00  724.00
63 1398.00 1452.00 1008.00 1092.00 1284.00 1008.00 1050.00 1128.00

    ConversionPercentage
60                  0.03
61                  0.03
62                  0.03
63                  0.03

[4 rows x 36 columns]
               ts_id
0  SK - SUNDOWN KIDS
1  SK - SUNDOWN KIDS
2  SK - SUNDOWN KIDS
3  SK - SUNDOWN KIDS
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=654.392, Time=0.12 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=678.608, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=657.921, Time=0.01 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=666.577, Time=0.04 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=656.332, Time=0.09 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=656.131, Time=0.15 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=666.433, Time=0.10 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=656.318, Time=0.02 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=inf, Time=0.36 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=653.926, Time=0.14 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=654.370, Time=0.05 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=653.050, Time=0.03 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=657.448, Time=0.01 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=654.151, Time=0.04 sec
 ARIMA(2,0,1)(0,0,0)[0] intercept   : AIC=655.798, Time=0.09 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0] intercept
Total fit time: 1.297 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=675.585, Time=0.61 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=782.514, Time=0.25 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=674.038, Time=0.51 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=674.143, Time=0.49 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=675.923, Time=0.79 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=680.045, Time=0.24 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=676.025, Time=0.61 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 3.550 seconds
                ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
64  SK - SUNDOWN KIDS 2020-10-01           4872.00          2020         4
65  SK - SUNDOWN KIDS 2020-11-01           5563.16          2020         4
66  SK - SUNDOWN KIDS 2020-12-01           3336.00          2020         4
67  SK - SUNDOWN KIDS 2021-01-01           7116.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
64            4        -1.00        -0.00         10      -1.00  ... 244.33
65            4        -1.00        -0.00         11      -0.87  ... 452.15
66            4        -1.00        -0.00         12      -0.50  ... 284.89
67            1         0.00         1.00          1       0.00  ... 698.06

     lag_1   lag_2   lag_3   lag_4   lag_5   naive   ma_2   ma_3  \
64  876.00   60.00 1164.00  516.00    0.00 1164.00 840.00 560.00
65 2556.00  876.00   60.00 1164.00  516.00   60.00 612.00 580.00
66 1524.00 2556.00  876.00   60.00 1164.00  876.00 468.00 700.00
67 3000.00 1116.00  936.00  852.00  684.00  936.00 894.00 824.00

    ConversionPercentage
64                  0.16
65                  0.16
66                  0.16
67                  0.16

[4 rows x 36 columns]
                         ts_id
0  SN - SUNDOWN NONEQUITY KIDS
1  SN - SUNDOWN NONEQUITY KIDS
2  SN - SUNDOWN NONEQUITY KIDS
3  SN - SUNDOWN NONEQUITY KIDS
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=698.300, Time=0.11 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=699.864, Time=0.02 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=698.302, Time=0.02 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=698.857, Time=0.05 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=700.016, Time=0.21 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=699.967, Time=0.19 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=700.541, Time=0.11 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=699.993, Time=0.03 sec
 ARIMA(2,0,2)(0,0,0)[0]             : AIC=701.823, Time=0.42 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=698.805, Time=0.14 sec

Best model:  ARIMA(1,0,1)(0,0,0)[0]
Total fit time: 1.325 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=670.468, Time=0.94 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=776.206, Time=0.21 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=669.249, Time=0.52 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=669.222, Time=1.11 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=670.117, Time=0.57 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=672.176, Time=0.44 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=671.224, Time=0.48 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0]
Total fit time: 4.277 seconds
                          ts_id       Date  OutlierCorrected  Year_Nominal  \
68  SN - SUNDOWN NONEQUITY KIDS 2020-10-01              0.00          2020
69  SN - SUNDOWN NONEQUITY KIDS 2020-11-01           1416.00          2020
70  SN - SUNDOWN NONEQUITY KIDS 2020-12-01            204.00          2020
71  SN - SUNDOWN NONEQUITY KIDS 2021-01-01             12.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
68         4            4        -1.00        -0.00         10      -1.00
69         4            4        -1.00        -0.00         11      -0.87
70         4            4        -1.00        -0.00         12      -0.50
71         5            1         0.00         1.00          1       0.00

    ...  Price  lag_1   lag_2   lag_3   lag_4  lag_5   naive    ma_2    ma_3  \
68  ...   0.00 444.00 4392.00  696.00  540.00 156.00  696.00  618.00  464.00
69  ... 240.03 648.00  444.00 4392.00  696.00 540.00 4392.00 2544.00 1876.00
70  ...  71.12 552.00  648.00  444.00 4392.00 696.00  444.00 2418.00 1844.00
71  ... 357.13 276.00  180.00  204.00  180.00  60.00  204.00  192.00  148.00

    ConversionPercentage
68                  0.13
69                  0.13
70                  0.13
71                  0.13

[4 rows x 36 columns]
                ts_id
0  BE - BEST BAR EVER
1  BE - BEST BAR EVER
2  BE - BEST BAR EVER
3  BE - BEST BAR EVER
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=447.323, Time=0.10 sec

 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=459.764, Time=0.01 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=452.131, Time=0.12 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=445.391, Time=0.05 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=457.764, Time=0.01 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=447.295, Time=0.24 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.33 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=443.642, Time=0.05 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=445.458, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=445.377, Time=0.13 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=450.133, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=447.347, Time=0.25 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 1.454 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=457.439, Time=0.61 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=546.809, Time=0.35 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=454.956, Time=0.37 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=454.845, Time=0.92 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=456.296, Time=0.91 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=458.083, Time=0.70 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=457.109, Time=0.79 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0]
Total fit time: 4.661 seconds
                 ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
72  BE - BEST BAR EVER 2020-10-01              0.00          2020         4
73  BE - BEST BAR EVER 2020-11-01              0.00          2020         4
74  BE - BEST BAR EVER 2020-12-01              0.00          2020         4
75  BE - BEST BAR EVER 2021-01-01              0.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
72            4        -1.00        -0.00         10      -1.00  ...   0.00
73            4        -1.00        -0.00         11      -0.87  ...   0.00
74            4        -1.00        -0.00         12      -0.50  ...   0.00
75            1         0.00         1.00          1       0.00  ...   0.00

    lag_1  lag_2  lag_3  lag_4  lag_5  naive   ma_2   ma_3  \
72  36.00 152.00 444.00   0.00   0.00 444.00 222.00 148.00
73   0.00  36.00 152.00 444.00   0.00 152.00 298.00 198.67
74   0.00   0.00  36.00 152.00 444.00  36.00  94.00 210.67
75 193.59 156.00 276.00 216.00 252.00 276.00 246.00 248.00

    ConversionPercentage
72                  0.00
73                  0.00
74                  0.00
75                  0.00

[4 rows x 36 columns]
                        ts_id
0  PA - PURITANS PRIDE AMAZON
1  PA - PURITANS PRIDE AMAZON
2  PA - PURITANS PRIDE AMAZON
3  PA - PURITANS PRIDE AMAZON
Performing stepwise search to minimize aic
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=580.909, Time=0.04 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=578.693, Time=0.00 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=578.809, Time=0.03 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=577.740, Time=0.03 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=576.969, Time=0.00 sec

Best model:  ARIMA(0,1,0)(0,0,0)[0]
Total fit time: 0.120 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=567.855, Time=0.65 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=627.599, Time=0.09 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=570.246, Time=0.38 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=566.752, Time=0.97 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=566.726, Time=1.48 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=568.452, Time=1.18 sec
 ARIMA(0,0,3)(0,0,0)[0]             : AIC=569.642, Time=1.38 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=570.306, Time=1.19 sec
 ARIMA(0,0,2)(0,0,0)[0] intercept   : AIC=568.390, Time=1.16 sec

Best model:  ARIMA(0,0,2)(0,0,0)[0]
Total fit time: 8.503 seconds
                         ts_id       Date  OutlierCorrected  Year_Nominal  \
76  PA - PURITANS PRIDE AMAZON 2020-10-01         280480.00          2020
77  PA - PURITANS PRIDE AMAZON 2020-11-01         301050.00          2020
78  PA - PURITANS PRIDE AMAZON 2020-12-01         274488.00          2020
79  PA - PURITANS PRIDE AMAZON 2021-01-01         385948.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
76         4            4        -1.00        -0.00         10      -1.00
77         4            4        -1.00        -0.00         11      -0.87
78         4            4        -1.00        -0.00         12      -0.50
79         5            1         0.00         1.00          1       0.00

    ...    Price     lag_1     lag_2     lag_3     lag_4     lag_5     naive  \
76  ... 25299.00 109560.00 102060.00 140640.00  90648.00  91212.00 140640.00
77  ... 20570.08 130428.00 109560.00 102060.00 140640.00  90648.00 102060.00
78  ... 16666.70 141408.00 130428.00 109560.00 102060.00 140640.00 109560.00
79  ... 33087.18  26508.00   8748.00      0.00      0.00      0.00      0.00

        ma_2      ma_3  ConversionPercentage
76 115644.00 107500.00                  0.28
77 121350.00 111116.00                  0.28
78 105810.00 117420.00                  0.28
79      0.00      0.00                  0.28

[4 rows x 36 columns]
             ts_id
0  MC - MAC & MAYA
1  MC - MAC & MAYA
2  MC - MAC & MAYA
3  MC - MAC & MAYA
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=273.731, Time=0.06 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=276.779, Time=0.00 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=271.822, Time=0.04 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=272.996, Time=0.07 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=273.725, Time=0.06 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=275.725, Time=0.09 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=271.599, Time=0.06 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=273.395, Time=0.01 sec
 ARIMA(2,0,0)(0,0,0)[0] intercept   : AIC=272.974, Time=0.13 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=273.229, Time=0.11 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=271.456, Time=0.08 sec
 ARIMA(0,0,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.19 sec
 ARIMA(1,0,2)(0,0,0)[0] intercept   : AIC=275.643, Time=0.38 sec

Best model:  ARIMA(0,0,1)(0,0,0)[0] intercept
Total fit time: 1.273 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=-367.448, Time=0.46 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-373.759, Time=0.26 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=-369.536, Time=0.28 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=-369.324, Time=0.40 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=-371.759, Time=0.31 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0]
Total fit time: 1.741 seconds
              ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
80  MC - MAC & MAYA 2020-10-01              0.00          2020         4
81  MC - MAC & MAYA 2020-11-01             24.00          2020         4
82  MC - MAC & MAYA 2020-12-01             36.00          2020         4
83  MC - MAC & MAYA 2021-01-01            132.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
80            4        -1.00        -0.00         10      -1.00  ...   9.99
81            4        -1.00        -0.00         11      -0.87  ...  29.97
82            4        -1.00        -0.00         12      -0.50  ...  39.96
83            1         0.00         1.00          1       0.00  ...  99.90

   lag_1  lag_2  lag_3  lag_4  lag_5  naive   ma_2   ma_3  \
80 36.00 192.00 840.00 360.00 216.00 840.00 600.00 472.00
81  0.00  36.00 192.00 840.00 360.00 192.00 516.00 464.00
82 12.00   0.00  36.00 192.00 840.00  36.00 114.00 356.00
83  0.00   0.00   0.00   0.00   0.00   0.00   0.00   0.00

    ConversionPercentage
80                 -0.00
81                 -0.00
82                 -0.00
83                 -0.00

[4 rows x 36 columns]
                   ts_id
0  SO - SUNDOWN ORGANICS
1  SO - SUNDOWN ORGANICS
2  SO - SUNDOWN ORGANICS
3  SO - SUNDOWN ORGANICS
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=294.818, Time=0.12 sec

 ARIMA(0,0,0)(0,0,0)[0]             : AIC=296.824, Time=0.02 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=295.233, Time=0.03 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=296.993, Time=0.05 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=295.412, Time=0.12 sec
 ARIMA(1,0,2)(0,0,0)[0]             : AIC=295.513, Time=0.16 sec
 ARIMA(0,0,2)(0,0,0)[0]             : AIC=293.992, Time=0.14 sec
 ARIMA(0,0,3)(0,0,0)[0]             : AIC=inf, Time=0.28 sec
 ARIMA(1,0,3)(0,0,0)[0]             : AIC=296.754, Time=0.42 sec
 ARIMA(0,0,2)(0,0,0)[0] intercept   : AIC=292.358, Time=0.22 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=292.587, Time=0.07 sec
 ARIMA(1,0,2)(0,0,0)[0] intercept   : AIC=294.351, Time=0.18 sec
 ARIMA(0,0,3)(0,0,0)[0] intercept   : AIC=294.350, Time=0.35 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=294.545, Time=0.03 sec
 ARIMA(1,0,3)(0,0,0)[0] intercept   : AIC=inf, Time=0.51 sec

Best model:  ARIMA(0,0,2)(0,0,0)[0] intercept
Total fit time: 2.714 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=-327.336, Time=0.45 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-331.384, Time=0.25 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=-325.586, Time=0.30 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=-327.325, Time=0.40 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=-329.384, Time=0.30 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0]
Total fit time: 1.717 seconds
                    ts_id       Date  OutlierCorrected  Year_Nominal  \
84  SO - SUNDOWN ORGANICS 2020-10-01            480.00          2020
85  SO - SUNDOWN ORGANICS 2020-11-01            456.00          2020
86  SO - SUNDOWN ORGANICS 2020-12-01            360.00          2020
87  SO - SUNDOWN ORGANICS 2021-01-01            204.00          2021

    Year_Num  Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  \
84         4            4        -1.00        -0.00         10      -1.00
85         4            4        -1.00        -0.00         11      -0.87
86         4            4        -1.00        -0.00         12      -0.50
87         5            1         0.00         1.00          1       0.00

    ...  Price  lag_1  lag_2  lag_3   lag_4   lag_5  naive   ma_2   ma_3  \
84  ... 418.00  84.00  96.00  60.00 1152.00    0.00  60.00 606.00 404.00
85  ... 286.00 204.00  84.00  96.00   60.00 1152.00  96.00  78.00 436.00
86  ... 176.00 132.00 204.00  84.00   96.00   60.00  84.00  90.00  80.00
87  ... 517.00   0.00   0.00   0.00    0.00    0.00   0.00   0.00   0.00

    ConversionPercentage
84                  0.71
85                  0.72
86                  0.77
87                  0.80

[4 rows x 36 columns]
             ts_id
0  DR - DR ORGANIC
1  DR - DR ORGANIC
2  DR - DR ORGANIC
3  DR - DR ORGANIC
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=268.770, Time=0.19 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=259.671, Time=0.01 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=252.695, Time=0.05 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=257.843, Time=0.10 sec
 ARIMA(2,0,0)(0,0,0)[0]             : AIC=253.828, Time=0.09 sec
 ARIMA(2,0,1)(0,0,0)[0]             : AIC=inf, Time=0.08 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=253.353, Time=0.11 sec

Best model:  ARIMA(1,0,0)(0,0,0)[0]
Total fit time: 0.644 seconds
Performing stepwise search to minimize aic
 ARIMA(1,0,1)(0,0,0)[0]             : AIC=-221.226, Time=0.44 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=-225.444, Time=0.32 sec
 ARIMA(1,0,0)(0,0,0)[0]             : AIC=-223.178, Time=0.32 sec
 ARIMA(0,0,1)(0,0,0)[0]             : AIC=-223.200, Time=0.41 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=-223.444, Time=0.34 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0]
Total fit time: 1.852 seconds
              ts_id       Date  OutlierCorrected  Year_Nominal  Year_Num  \
88  DR - DR ORGANIC 2020-10-01            846.00          2020         4
89  DR - DR ORGANIC 2020-11-01            408.00          2020         4
90  DR - DR ORGANIC 2020-12-01            150.00          2020         4
91  DR - DR ORGANIC 2021-01-01            228.00          2021         5

    Quarter_Num  Quarter_Sin  Quarter_Cos  Month_Num  Month_Sin  ...  Price  \
88            4        -1.00        -0.00         10      -1.00  ... 137.77
89            4        -1.00        -0.00         11      -0.87  ... 107.82
90            4        -1.00        -0.00         12      -0.50  ...  35.94
91            1         0.00         1.00          1       0.00  ... 119.80

      lag_1    lag_2    lag_3  lag_4  lag_5    naive    ma_2    ma_3  \
88 10992.00     0.00     0.00   0.00   0.00     0.00    0.00    0.00
89  8076.00 10992.00     0.00   0.00   0.00     0.00    0.00    0.00
90 11022.00  8076.00 10992.00   0.00   0.00 10992.00 5496.00 3664.00
91     0.00     0.00     0.00   0.00   0.00     0.00    0.00    0.00

    ConversionPercentage
88                  0.19
89                  0.18
90                  0.17
91                  0.16

[4 rows x 36 columns]

In [506]:
ts_id
CUTOFF_DATE

'2020-10-01'

In [507]:
prediction_df1 = pd.concat(result_list, sort=False).dropna()
#prediction_df1 = prediction_df1 = np.where(prediction_df1['SARIMAX_Predictions'] < 0, 0,prediction_df1['SARIMAX_Predictions'])
pred_path = os.path.join("NBTY_predictions",'prophet')
if not os.path.exists(pred_path):
    os.makedirs(pred_path)

prediction_df1.to_csv(os.path.join(pred_path,'ARIMAX_October_Cycle_v15_Brand_ConversionPercentage.csv'))
pred_path

'NBTY_predictions\\prophet'

In [454]:
# test['ts_id'] = test['ts_id'].astype(str)

# test['Date'] = pd.to_datetime(test['Date'], format='%Y-%m-%d')

# prediction_df1['Date'] = pd.to_datetime(prediction_df1['Date'],format='%Y-%m-%d')
# print(prediction_df1.info())
# print(test.info())
# prediction_df1 = prediction_df1.merge(test[['ts_id','Date','Sales']], on=['ts_id','Date'], how='left')

In [508]:
temp11 = Data[(Data.Date>=CUTOFF_DATE)&(Data.Date<=test_end_date)]
prediction_df1['Date'] = pd.to_datetime(prediction_df1['Date'])
prediction_df1 = prediction_df1.merge(temp11[['ts_id','Date','Sales']], on=['ts_id','Date'], how='left')
prediction_df1

,ts_id,Date,SARIMAX_Predictions,SARIMA_Predictions,Sales
0,BB - BALANCE BAR,2020-10-01,23750.65,27677.71,21820
1,BB - BALANCE BAR,2020-11-01,22723.93,26845.48,29688
2,BB - BALANCE BAR,2020-12-01,40510.71,32375.89,25880
3,BB - BALANCE BAR,2021-01-01,22948.91,33547.12,32896
4,BF - BODY FORTRESS,2020-10-01,110564.59,62199.75,59329
...,...,...,...,...,...
87,SO - SUNDOWN ORGANICS,2021-01-01,-21003.48,503.03,204
88,DR - DR ORGANIC,2020-10-01,1699.64,365.47,846
89,DR - DR ORGANIC,2020-11-01,-5129.29,296.82,408
90,DR - DR ORGANIC,2020-12-01,-8136.29,241.06,150
91,DR - DR ORGANIC,2021-01-01,14375.48,195.78,228

In [509]:
for col in [col for col in prediction_df1.columns if 'SARIMA' in col]:
    prediction_df1[col] = prediction_df1[col].clip(lower=0).round()

In [510]:
eval_df = prediction_df1.copy()
for col in [col for col in eval_df.columns if 'SARIMA' in col]:
    eval_df["{}_err".format(col)] = np.abs(eval_df[col] - eval_df['Sales'])

In [511]:
eval_df.dropna(inplace=True)
eval_df

,ts_id,Date,SARIMAX_Predictions,SARIMA_Predictions,Sales,SARIMAX_Predictions_err,SARIMA_Predictions_err
0,BB - BALANCE BAR,2020-10-01,23751.00,27678.00,21820,1931.00,5858.00
1,BB - BALANCE BAR,2020-11-01,22724.00,26845.00,29688,6964.00,2843.00
2,BB - BALANCE BAR,2020-12-01,40511.00,32376.00,25880,14631.00,6496.00
3,BB - BALANCE BAR,2021-01-01,22949.00,33547.00,32896,9947.00,651.00
4,BF - BODY FORTRESS,2020-10-01,110565.00,62200.00,59329,51236.00,2871.00
...,...,...,...,...,...,...,...
87,SO - SUNDOWN ORGANICS,2021-01-01,0.00,503.00,204,204.00,299.00
88,DR - DR ORGANIC,2020-10-01,1700.00,365.00,846,854.00,481.00
89,DR - DR ORGANIC,2020-11-01,0.00,297.00,408,408.00,111.00
90,DR - DR ORGANIC,2020-12-01,0.00,241.00,150,150.00,91.00
91,DR - DR ORGANIC,2021-01-01,14375.00,196.00,228,14147.00,32.00

In [512]:
for col in [col for col in eval_df.columns if 'err' in col]:
    mape = 1 - (np.sum(eval_df[col])/np.sum(eval_df['Sales']))
    print ("{} - Accuracy : {}".format(col, mape*100))

SARIMAX_Predictions_err - Accuracy : 42.88938192161558
SARIMA_Predictions_err - Accuracy : 62.048171559584574

## Lazy Predict

In [60]:
import pyforest
import warnings
warnings.filterwarnings("ignore")
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [63]:
import lazypredict
from lazypredict.Supervised import LazyClassifier
#from sklearn.utils.testing import ignore_warnings

AttributeError: type object 'sklearn.neighbors.quad_tree.array' has no attribute '__reduce_cython__'

In [521]:
#from gluonts.dataset import common
from gluonts.model.deepar import DeepAREstimator
from gluonts.mx.trainer import Trainer

ContextualVersionConflict: (ujson 4.0.2 (c:\users\kadambini.indurkar\appdata\local\continuum\anaconda3\lib\site-packages), Requirement.parse('ujson~=1.35'), {'gluonts'})